/**
 * Login page styles.
 */

body.login div#login {
	margin-top: 150px;
	position: relative;
	padding: 35px 30px;
	margin-bottom: 1em;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	width: 450px;
}
body.login div#login h1 a {
	color: #000;
	background-image: none;
	text-indent: 0;
	width: 100%;
	height: auto;
}

body.login div#login > p {
	text-align: center;
	font-family: 'Oswald';
}

body.login div#login p.message {
	border-left: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

body.login div#login form {
	background-color: transparent;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

body.login div#login form label {
	font-weight: normal;
	display: block;
}

body.login div#login form input[type="text"] {
	width: 100%;
}

body.login div#login form input[type="checkbox"] {
	margin: -4px 4px 0 0;
}

body.login-action-login p#nav {
	float: right;
	margin: 0;
	padding: 0;
	font-family: inherit;
}

body.login-action-login #login form p.submit {
	margin-top: 40px;
}

body.login div#login p#backtoblog {
	display: none;
}

