.row{*zoom:1}
.row:before,
.row:after{content:" ";display:table}
.row:after{clear:both}
.row {
	background: #f4f4f4;
	margin-bottom: 1px;
	padding-right: 20px;
}
#button-dialog #insert {
	display: block;
	line-height: 24px;
	text-align: center;
	margin: 10px 0 0 0;
	float: right;
} 
[class^="icon-"],[class*=" icon-"] {
	color: #333!important;
}
#TB_window {
	background-color: #FFF;
	position: absolute!Important;
}
.shortcode-dynamic-item .redux-opts-screenshot {
	max-width: 300px;
}
.redux-opts-upload-remove {
	margin-left: 10px;
}
.clients > div:last-child {
	padding-bottom: 0px;
	border-bottom: 0px;	
}
.clients label.inline {
	display: inline;
	margin-right: 3px;
	min-width: 0px!important;
}
input[type=radio] {
	margin-right: 5px;
}
.clients .shortcode-dynamic-item .clear {
	border: none;	
}
.icon-option i {
	margin-right: 1px;
	margin-bottom: 1px;
	text-align: center;
	vertical-align: center;
	font-size: 14px;
	height: 27px;
	cursor: pointer;
	line-height: 27px;
	width: 27px;
	border: 1px solid #e6e6e6;
	background-color: #e7e7e7;
	display: inline-block;
}
.icon-option i:hover {
	position: relative;
	z-index: 200;
	 transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	-o-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}
.icon-option i.selected {
	background-color: #fff;
	border: 1px solid #fff!important;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}
.shortcode-content .btn.remove-list-item {
   margin-left: 5px;
   float: right;
   position: relative;
   background: #0eafb5;
}
.shortcode-content .btn.add-list-item {
   float: right;
   position: relative;
   background: #0eafb5;  
}
.shortcode-content .btn.remove-list-item:hover,
.shortcode-content .btn.add-list-item:hover {
	background: #2c2c2c;
}
.shortcode-dynamic-item input[type=text], .shortcode-dynamic-item textarea {
	margin-bottom: 3px;
}
input[type="text"], textarea, select, #insert-shortcode{ 
	padding: 10px; 
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #555;
}
input[type="text"], textarea {
	width:100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}
div.label {
	display: inline-block;
	width: 30%;
	float: left;
	margin: 0px;
	text-indent: 30px;
	min-height: 70px;
	line-height: 70px;
}
div.content {
	display: inline-block;
	background: #f4f4f4;
	padding: 17px 0;
	width: 69%;
}
div.content.large {
	padding: 25px 0;
}
div.clear {
	margin: 19px 0px;
	border-bottom: 1px solid #ddd;
	clear: both;
}
.shortcode-options {
	display: none;
}
.shortcode-options label {
	display: inline;
	margin-right: 15px;
	min-width: 0px!important;
}
div[data-type="radios"] label, div[data-type="direct_to_editor"] label {
	display: inline;
}

div[data-type="radios"] .content, div[data-type="checkbox"] .content {
	margin: 7px 0px;
}
.description{margin-top:-.5em; }
.description{ margin: 3px 0 0 0; color: #666; font-style: italic; }
div.hr {
	width: 100%;
	margin: 20px 0px;
	border-bottom: 1px solid #ddd;
}
.btn {
	cursor: pointer;
	display: table;
	background-color: #2c2c2c;
	padding: 12px 15px !important;
	color: #fff!important;
	font-size: 11px;
	font-weight: 800;
	line-height: normal;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: 0.2s linear all;
	-moz-transition: 0.2s linear all;
	-ms-transition: 0.2s linear all;
	-o-transition: 0.2s linear all;
	transition: 0.2s linear all;
	margin-top:10px;
  margin-right:5px;
  text-decoration: none;
}
.btn:hover {
	color: #fff;
	background-color: #e24f3d;
	text-decoration: none;
}
.tall {
	height: 70px;	
}
#shortcode-generator option[disabled=disabled] {
	background: #333;
	font-weight: bold;
	color: #FFF;
	margin-top: 10px;
}
#shortcode-generator .shortcode-dynamic-item {
	position: relative;
}
#shortcode-generator .shortcode-dynamic-items > div:last-child {
	margin-bottom: 0px;
}
#shortcode-generator .shortcode-dynamic-item-text {
	height: 125px;
	margin-top: 4px;
}
#shortcode-generator .shortcode-content {
	padding: 15px 0;
}
/* Shortcode Code Storage */
.shortcode_storage {
	display:none;
}
label#option-label {
	display: block;
	font-weight: bold;	
}
#shortcode-content textarea#content {
	height: 180px;
	font-size: 12px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-transition: 0.2s linear all;
	-moz-transition: 0.2s linear all;
	-ms-transition: 0.2s linear all;
	-o-transition: 0.2s linear all;
	transition: 0.2s linear all;
}
#shortcode-content textarea#content:focus, #shortcode-content input[type="text"]:focus {
	border-color: #77cc6d!important;
}
#shortcode-content {
	display: none;
}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select {
	
	border-color: #d1d1d1;
	border-radius: 0;
}