@import url("font-awesome.css");
html, body {
  height: 100%;
}

body {
  background: #eaeaea url("../img/bg/bg1.png") top left repeat;
  color: #666;
}
body div, body dl, body dt, body dd, body ul, body ol, body li, body pre, body form, body p, body blockquote, body th, body td {
  font-size: inherit;
  font-family: inherit;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: inherit;
}

img {
  border: none;
}

::-webkit-input-placeholder {
  color: #e0e0e0;
}

::-moz-selection {
  background-color: #e24f3d;
  color: #fff;
}

::-webkit-selection {
  background-color: #e24f3d;
  color: #fff;
}

::selection {
  background-color: #e24f3d;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

a {
  color: #373737;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #e24f3d;
}

a:focus {
  color: inherit;
}

/* Content */
#wrapper {
  min-height: 100%;
  background: #fff;
}
.boxed #wrapper {
  max-width: 1230px;
  margin: 0 auto;
  -webkit-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
}

[role="main"] {
  padding: 100px 0 0;
}
[role="main"] .blog,
[role="main"] .portfolio-container,
[role="main"] .sidebar,
[role="main"] .fullwidth {
  padding-top: 30px;
}
.notfixed [role="main"] {
  padding: 0;
}

/* Header */
#header {
  width: 100%;
  height: 100px;
  background: #fff;
  z-index: 200;
  overflow: visible !important;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.boxed #header {
  max-width: 1230px;
  margin: 0 auto;
}
.boxed #header.fixed {
  left: auto;
}
.notfixed #header {
  position: relative;
}
#header.fixed + [role="main"] {
  padding-top: 80px;
}
.admin-bar #header.fixed + [role="main"] {
  padding-top: 98px;
}
#header.fixed.small + .headersearch {
  top: 50px !important;
}
.admin-bar #header.fixed.small + .headersearch {
  top: 78px !important;
}
#header.fixed.small .logo h1 {
  line-height: 50px;
  margin: 0;
}
#header.fixed.small .logo a {
  height: 40px;
  margin: 5px 0;
}
.admin-bar #header.fixed {
  top: 28px;
}
#header .logo {
  height: 100%;
}
#header .logo h1 {
  font-size: 24px;
  line-height: 100px;
  margin: 0;
}
#header .logo > a {
  display: block;
  height: 80px;
  margin: 10px 0;
}
#header .logo > a img {
  max-height: 100%;
}
#header .logo > a.hide-logo {
  display: block;
}
#header .logo > a.show-logo {
  display: none;
}
#header .mobile-menu-toggle {
  height: 100%;
  display: none;
  cursor: pointer;
}
#header .mobile-menu-toggle i {
  display: block;
  border: 1px solid #ebebeb;
  float: right;
  font-size: 16px;
  line-height: 30px;
  margin-top: 10px;
  text-align: center;
  width: 35px;
  height: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#header .searchlink {
  float: right;
  width: 40px;
  padding: 15px 0;
  text-align: right;
  font-weight: 800;
  font-size: 20px;
  margin-top: 25px;
  cursor: pointer;
  position: relative;
}
#header .searchlink:after {
  content: '';
  display: block;
  height: 13px;
  width: 0;
  position: absolute;
  left: 0;
  top: 20px;
  border-left: 1px solid #d4d4d4;
}
#header .searchlink:hover, #header .searchlink.open {
  color: #e24f3d;
}

.headersearch {
  width: 100%;
  background: #fff;
  height: 0;
  overflow: hidden;
  top: 100px;
  z-index: 100;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.admin-bar .headersearch {
  top: 128px;
}
.admin-bar.notfixed .headersearch {
  top: 100px;
}
.boxed .headersearch {
  max-width: 1230px;
  margin: 0 auto;
  left: auto;
}
.notfixed .headersearch {
  position: absolute !important;
}
.headersearch .row,
.headersearch .columns,
.headersearch form,
.headersearch fieldset {
  height: 100%;
}
.headersearch form {
  margin: 0;
}
.headersearch form fieldset {
  padding: 0;
  border: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}
.headersearch form fieldset:after {
  font-family: 'FontAwesome';
  content: "\f002";
  position: absolute;
  color: #e0e0e0;
  top: 20px;
  left: 0px;
  font-size: 40px;
}
.headersearch form fieldset input {
  border: 0;
  margin: 10px 0;
  padding: 0 0 0 50px;
  background: none;
  color: #e0e0e0;
  font-size: 40px;
  height: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.headersearch form fieldset input:focus {
  background: none;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.headersearch form fieldset input::-webkit-input-placeholder {
  font-weight: 700;
}

#breadcrumb {
  background: #efefef;
  width: 100%;
  padding: 20px 0;
  font-size: 12px;
}
#breadcrumb .breadcrumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#breadcrumb .breadcrumb ul li {
  display: block;
  float: left;
  margin-right: 10px;
}
#breadcrumb .breadcrumb ul li:first-child {
  margin-right: 15px;
}
#breadcrumb .breadcrumb ul li a {
  font-weight: 600;
}
#breadcrumb .breadcrumb ul li i {
  margin-right: 5px;
}
#breadcrumb .name {
  text-transform: uppercase;
  text-align: right;
  font-weight: 600;
  padding-top: 4px;
  color: #373737;
}

/* Reusable Styles */
form {
  margin: 0;
}
form fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.btn,
input[type=submit],
.comment-reply-link {
  font-size: 11px;
  font-weight: 800;
  padding: 8px 13px;
  margin-bottom: 3px;
  display: inline-block;
  cursor: pointer;
  border: 0;
  color: #fff;
  background: #2c2c2c;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn i,
input[type=submit] i,
.comment-reply-link i {
  display: inline-block;
  margin-right: 5px;
  width: 15px;
}
.btn:hover,
input[type=submit]:hover,
.comment-reply-link:hover {
  color: #fff;
  background: #e24f3d;
}
.btn.blue,
input[type=submit].blue,
.comment-reply-link.blue {
  background: #2caae1;
}
.btn.blue:hover,
input[type=submit].blue:hover,
.comment-reply-link.blue:hover {
  background: #1b8dbf;
}
.btn.red,
input[type=submit].red,
.comment-reply-link.red {
  background: #e24f3d;
}
.btn.red:hover,
input[type=submit].red:hover,
.comment-reply-link.red:hover {
  background: #2c2c2c;
}
.btn.green,
input[type=submit].green,
.comment-reply-link.green {
  background: #3eb206;
}
.btn.green:hover,
input[type=submit].green:hover,
.comment-reply-link.green:hover {
  background: #2d8104;
}
.btn.purple,
input[type=submit].purple,
.comment-reply-link.purple {
  background: #b50eb3;
}
.btn.purple:hover,
input[type=submit].purple:hover,
.comment-reply-link.purple:hover {
  background: #860a84;
}
.btn.pink,
input[type=submit].pink,
.comment-reply-link.pink {
  background: #e8186b;
}
.btn.pink:hover,
input[type=submit].pink:hover,
.comment-reply-link.pink:hover {
  background: #ba1356;
}
.btn.grey,
input[type=submit].grey,
.comment-reply-link.grey {
  background: #7c7c7c;
}
.btn.grey:hover,
input[type=submit].grey:hover,
.comment-reply-link.grey:hover {
  background: #626262;
}
.btn.smoked,
input[type=submit].smoked,
.comment-reply-link.smoked {
  background: #6c82a7;
}
.btn.smoked:hover,
input[type=submit].smoked:hover,
.comment-reply-link.smoked:hover {
  background: #54698c;
}
.btn.brown,
input[type=submit].brown,
.comment-reply-link.brown {
  background: #673724;
}
.btn.brown:hover,
input[type=submit].brown:hover,
.comment-reply-link.brown:hover {
  background: #412317;
}
.btn.yellow,
input[type=submit].yellow,
.comment-reply-link.yellow {
  background: #ffba00;
}
.btn.yellow:hover,
input[type=submit].yellow:hover,
.comment-reply-link.yellow:hover {
  background: #cc9500;
}
.btn.darkblue,
input[type=submit].darkblue,
.comment-reply-link.darkblue {
  background: #383d81;
}
.btn.darkblue:hover,
input[type=submit].darkblue:hover,
.comment-reply-link.darkblue:hover {
  background: #292c5d;
}
.btn.bordeaux,
input[type=submit].bordeaux,
.comment-reply-link.bordeaux {
  background: #0eafb5;
}
.btn.bordeaux:hover,
input[type=submit].bordeaux:hover,
.comment-reply-link.bordeaux:hover {
  background: #0a8186;
}
.btn.medium,
input[type=submit].medium,
.comment-reply-link.medium {
  padding: 13px 16px;
  font-size: 12px;
}
.btn.large,
input[type=submit].large,
.comment-reply-link.large {
  padding: 15px 20px;
  font-size: 13px;
}
.btn.rounded,
input[type=submit].rounded,
.comment-reply-link.rounded {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.wpcf7 .btn, .wpcf7
input[type=submit], .wpcf7
.comment-reply-link {
  width: 100%;
  margin-top: 0;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/* Forms */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid #d1d1d1;
  padding: 12px;
  height: 40px;
  margin-bottom: 25px;
  color: #878787;
  font-size: 13px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  background: #fff;
  border-color: #72b8dc;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px rgba(187, 231, 248, 0.7);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px rgba(187, 231, 248, 0.7);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px rgba(187, 231, 248, 0.7);
}
input[type="text"].parsley-error, input[type="text"].wpcf7-not-valid,
input[type="password"].parsley-error,
input[type="password"].wpcf7-not-valid,
input[type="date"].parsley-error,
input[type="date"].wpcf7-not-valid,
input[type="datetime"].parsley-error,
input[type="datetime"].wpcf7-not-valid,
input[type="email"].parsley-error,
input[type="email"].wpcf7-not-valid,
input[type="number"].parsley-error,
input[type="number"].wpcf7-not-valid,
input[type="search"].parsley-error,
input[type="search"].wpcf7-not-valid,
input[type="tel"].parsley-error,
input[type="tel"].wpcf7-not-valid,
input[type="time"].parsley-error,
input[type="time"].wpcf7-not-valid,
input[type="url"].parsley-error,
input[type="url"].wpcf7-not-valid,
textarea.parsley-error,
textarea.wpcf7-not-valid {
  border-color: #e24f3d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px rgba(226, 79, 61, 0.7);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px rgba(226, 79, 61, 0.7);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px rgba(226, 79, 61, 0.7);
}

.parsley-error-list,
.wpcf7-not-valid-tip {
  display: none !important;
}

textarea {
  height: 200px;
}
.wpcf7 textarea {
  height: 120px;
}

label {
  color: #878787;
  margin-bottom: 15px;
}

.form-submit input[type=submit] {
  padding: 13px 20px;
}

/* Top Bar */
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sf-menu li {
  position: relative;
}

.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.sf-menu > li {
  float: left;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block;
}

.sf-menu a {
  display: block;
  position: relative;
}

.sf-menu ul ul {
  top: 0;
  left: 100%;
}

.sf-menu {
  float: right;
  height: 50px;
  margin: 25px 0;
}
.small .sf-menu {
  margin: 0;
}

.sf-menu ul {
  min-width: 12em;
}

.sf-menu li {
  white-space: nowrap;
}
.sf-menu li:hover, .sf-menu li.sfHover {
  background: #2c2c2c;
}
.sf-menu li:hover > a, .sf-menu li.sfHover > a {
  color: #fff;
}
.sf-menu li:hover > a:after, .sf-menu li.sfHover > a:after {
  display: none;
}
.sf-menu li:hover + li > a:after, .sf-menu li.sfHover + li > a:after {
  display: none;
}
.sf-menu li.current-menu-item {
  background: #e24f3d;
}
.sf-menu li.current-menu-item > a {
  color: #fff;
}
.sf-menu li.current-menu-item > a:after {
  display: none;
}
.sf-menu li.current-menu-item + li > a:after {
  display: none;
}
.sf-menu li.first-menu-item > a:after {
  display: none;
}
.sf-menu li a {
  padding: 15px 20px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #717171;
}
.sf-menu li > a {
  position: relative;
}
.sf-menu li > a:after {
  content: '';
  display: block;
  height: 13px;
  width: 0;
  position: absolute;
  left: 0;
  top: 20px;
  border-left: 1px solid #d4d4d4;
}
.sf-menu li ul li {
  background: #2c2c2c;
}
.sf-menu li ul li:hover {
  background: #272727;
}
.sf-menu li ul li a {
  font-size: 11px;
  color: #808080;
}
.sf-menu li ul li a:hover {
  color: #fff;
}
.sf-menu li ul li a:after {
  display: none;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
  background: #272727;
  padding: 15px 0 30px;
}
.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mobile-menu ul li {
  border-bottom: 1px solid #323232;
}
.mobile-menu ul li span {
  float: right;
  margin-right: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
}
.mobile-menu ul li a {
  display: block;
  padding: 15px 0;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #717171;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.mobile-menu ul li a.active {
  color: #e24f3d;
}
.mobile-menu ul li a.active span {
  color: #e24f3d;
}
.mobile-menu ul .sub-menu {
  display: none;
}
.mobile-menu ul .sub-menu li {
  border-top: 1px solid #323232;
  border-bottom: 0;
}
.mobile-menu ul .sub-menu li a {
  padding-left: 20px;
  text-transform: none;
  font-size: 12px;
  font-weight: 500;
}
.mobile-menu input,
.mobile-menu input:focus {
  border: none;
  background: #323232;
  margin: 10px 0 20px 0;
  color: #717171;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.mobile-menu input::-webkit-input-placeholder,
.mobile-menu input:focus::-webkit-input-placeholder {
  color: #717171;
}
.mobile-menu input:-moz-placeholder,
.mobile-menu input:focus:-moz-placeholder {
  color: #717171;
}

/* Post */
.post {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdfdf;
}
.post > .row .two.columns {
  width: 12%;
}
.post > .row .ten.columns {
  width: 88%;
}
.post .post-date {
  border: 2px solid #ebebeb;
  text-align: center;
  padding-top: 15px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  float: left;
  color: #373737;
}
.post .post-date .date,
.post .post-date .commentcount {
  float: left;
  width: 100%;
}
.post .post-date .date {
  margin-bottom: 15px;
  font-weight: 800;
}
.post .post-date .date span,
.post .post-date .date small {
  float: left;
  display: block;
  width: 100%;
  text-align: center;
}
.post .post-date .date small {
  font-size: 30px;
}
.post .post-date .commentcount {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 2px solid #ebebeb;
  color: #c9c9c9;
  font-size: 13px;
}
.post .post-date .commentcount i {
  margin-right: 5px;
}
.post .post-date .commentcount a {
  color: #878787;
}
.post .post-gallery {
  margin-bottom: 20px;
}
.thbportfolio .post .post-gallery img, .relatedposts .post .post-gallery img {
  width: 100%;
  max-width: 100%;
}
.post .post-gallery.shapes {
  margin-bottom: 30px;
}
.post .post-gallery.flex-video {
  padding-bottom: 50%;
}
.post .post-gallery.quote {
  background: #cbcbcb;
  padding: 30px 30px 30px 90px;
  position: relative;
}
.post .post-gallery.quote:before {
  display: block;
  font-size: 80px;
  content: "\201C";
  position: absolute;
  top: 20px;
  left: 23px;
  font-weight: 600;
  color: #e0e0e0;
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
}
.post .post-gallery.quote blockquote {
  border: 0;
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
}
.post .post-gallery.quote blockquote:after {
  content: '';
}
.post .post-gallery.quote small {
  text-align: right;
  font-size: 16px;
  width: 100%;
  color: #fff;
  line-height: 30px;
  display: block;
}
.post .post-gallery.link {
  background: #cbcbcb;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.post .post-gallery.link:before {
  display: block;
  font-size: 30px;
  content: "\f0c1";
  position: absolute;
  top: 34px;
  left: 30px;
  font-weight: 600;
  color: #e0e0e0;
  font-family: 'FontAwesome';
}
.post .post-gallery.link:hover {
  background: #e24f3d;
}
.post .post-gallery.link a {
  display: block;
  padding: 30px 30px 30px 90px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  color: #fff;
}
.post .post-title {
  clear: both;
  width: 100%;
}
.post .post-title h2 {
  margin: 0 0 12px 0;
  font-size: 28px;
  font-weight: 600;
  display: block;
  float: left;
  max-width: 80%;
}
.post .post-title h2 + .likeThis {
  float: right;
  font-size: 14px;
  line-height: 30px;
}
.post .post-title h2 + .likeThis i {
  font-size: 18px;
}
.post .post-title h3 {
  margin: 0 0 15px 0;
  font-size: 18px;
  font-weight: 600;
  display: block;
  float: left;
  max-width: 80%;
}
.post .post-title h3 .likeThis {
  float: right;
  line-height: 19px;
}
.post .post-title .meta {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 25px;
  width: auto;
  clear: left;
}
.post .post-title + .meta {
  margin-top: 0;
}
.post .post-content {
  line-height: 1.6;
}
.post .post-content ul, .post .post-content ol {
  list-style-position: inside;
}
.post .post-content h1 {
  font-size: 34px;
}
.post .post-content h2 {
  font-size: 28px;
}
.post .post-content h3 {
  font-size: 20px;
}
.post .post-content h4 {
  font-size: 24px;
  font-weight: 500;
  color: #373737;
  text-transform: uppercase;
}
.post .post-content h5 {
  font-size: 16px;
  line-height: 22px;
  color: #878787;
  font-weight: 400;
}
.post .post-content h6 {
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-weight: 800;
  color: #373737;
  text-transform: uppercase;
  border-bottom: 2px solid #ebebeb;
}
.post .more-link {
  margin-top: 0px;
}
.fullwidth .post, .post.page {
  border: 0;
}
.portfolio-container .post, .relatedposts .post {
  border: 0;
  padding: 0;
  margin-bottom: 20px;
}
.single-portfolio .post {
  padding-bottom: 0;
  border: 0;
  float: left;
  width: 100%;
}
.single-portfolio .post .post-content {
  padding-bottom: 50px;
  border-bottom: 1px solid #dfdfdf;
}

/* Blog - Masonry */
.page-template-template-blog-masonry-php [role="main"] {
  background: #f9f9f9;
  padding-bottom: 50px;
}
.page-template-template-blog-masonry-php [role="main"] .pagenavi {
  margin-top: 50px !important;
  margin-bottom: 0 !important;
}
.page-template-template-blog-masonry-php [role="main"] .pagenavi ul {
  text-align: center !important;
}

.blog.masonry {
  overflow: visible !important;
}
.blog.masonry [class*="column"] + [class*="column"]:last-child {
  float: left;
}
.blog.masonry .postcontainer {
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.blog.masonry .postcontainer .post {
  margin: 0;
  padding: 0;
  border: 0;
}
.blog.masonry .postcontainer .post .masonry-date {
  font-size: 12px;
  margin-bottom: 15px;
}
.blog.masonry .postcontainer .post .post-title h2 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
}
.blog.masonry .postcontainer .post .post-gallery.link,
.blog.masonry .postcontainer .post .post-gallery.link:hover,
.blog.masonry .postcontainer .post .post-gallery.quote {
  background: none;
}
.blog.masonry .postcontainer .post .post-gallery.link:before {
  font-size: 22px;
  color: #373737;
  top: 3px;
  left: 0;
}
.blog.masonry .postcontainer .post .post-gallery.link a {
  padding: 0 0 0 30px;
  color: #373737;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1;
}
.blog.masonry .postcontainer .post .post-gallery.quote {
  padding: 0 0 0 40px;
}
.blog.masonry .postcontainer .post .post-gallery.quote:before {
  font-size: 60px;
  color: #373737;
  top: -5px;
  left: 0;
}
.blog.masonry .postcontainer .post .post-gallery.quote blockquote {
  line-height: 1;
  color: #373737;
  font-size: 22px;
  text-transform: uppercase;
}
.blog.masonry .postcontainer .post .post-gallery.quote small {
  color: #878787;
  font-size: 14px;
}
.blog.masonry .postcontainer .meta {
  border-top: 0;
  margin-top: 10px;
  padding-top: 0;
}

#loadmore {
  margin-top: 40px;
}
#loadmore i {
  margin: 0 0 0 5px;
}

/* Likes */
.likeThis {
  float: right;
}
.likeThis i {
  color: #c9c9c9;
  font-size: 13px;
  margin-right: 5px;
  vertical-align: middle;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.likeThis span {
  color: #878787;
  vertical-align: middle;
}
.likeThis.active i {
  color: #e24f3d;
}

/* Page Specific */
.sitemap .post .post-content h3 {
  font-size: 14px;
}

#contact-map {
  width: 100%;
  height: 500px;
}

/* Image Hover */
.fresco {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 0;
}
.fresco img {
  width: 100%;
  max-width: 100%;
}
.fresco.shapes h3,
.fresco.shapes .excerpt {
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.fresco.shapes h3 {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  width: 80%;
  position: absolute;
  top: 35%;
  left: 10%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.fresco.shapes:hover h3 {
  top: 25%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.fresco.shapes .overlay:hover .zoom,
.fresco.shapes .overlay:hover .details {
  top: 63%;
}
.fresco .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  z-index: 20;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.fresco .overlay .zoom,
.fresco .overlay .details,
.fresco .overlay .email {
  display: block;
  color: #fff;
  background: #333;
  padding: 0;
  height: 54px;
  width: 54px;
  line-height: 52px;
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  top: 80%;
  margin-top: -27px;
  z-index: 40;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  border-radius: 27px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.fresco .overlay .zoom i,
.fresco .overlay .details i,
.fresco .overlay .email i {
  margin: 0;
}
.fresco .overlay .zoom:hover,
.fresco .overlay .details:hover,
.fresco .overlay .email:hover {
  color: #373737;
  background: #fff;
}
.fresco .overlay .shape {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 30;
}
.fresco .overlay .details {
  left: 51%;
  -webkit-transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition-delay: 0.1s, 0.1s, 0s, 0s;
  -moz-transition: top 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: top 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: top 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.fresco .overlay .email {
  left: 50%;
  margin-left: -27px;
  -webkit-transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition-delay: 0.1s, 0.1s, 0s, 0s;
  -moz-transition: top 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: top 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: top 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.fresco .overlay .zoom {
  right: 51%;
  -webkit-transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -moz-transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.fresco:hover .overlay {
  background-color: rgba(226, 79, 61, 0.8);
}
.fresco:hover .overlay .details,
.fresco:hover .overlay .zoom,
.fresco:hover .overlay .email {
  top: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Pagination */
.pagenavi {
  margin-bottom: 55px !important;
}
.pagenavi ul {
  list-style: none;
  float: right;
  text-align: right;
}
.pagenavi ul.center {
  text-align: center;
}
.pagenavi ul li {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 600;
}
.pagenavi ul li a {
  display: inline-block;
  text-align: center;
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  font-weight: 600;
  background: #cbcbcb;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.pagenavi ul li a:hover {
  background: #e24f3d;
  color: #fff;
}
.pagenavi ul li.disabled a {
  background: #e24f3d;
  color: #fff;
}
.pagenavi ul li.arrow a {
  background: #292929;
  color: #fff;
}

.meta {
  display: block;
  float: left;
  width: 100%;
  font-size: 11px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 10px;
  margin-top: 15px;
  border-top: 1px solid #ebebeb;
}
.meta a {
  font-weight: 600;
}
.meta.portfolio {
  border: 0;
  margin: 0;
  padding: 30px 0 15px;
}
.meta.portfolio .social {
  margin: 0;
}
.meta.portfolio .likeThis {
  float: left;
  font-size: 14px;
  line-height: 40px;
}
.meta.portfolio .likeThis i {
  font-size: 18px;
}
.meta .social {
  float: right;
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
}
.meta .social li {
  font-size: 13px;
  color: #373737;
  font-weight: 600;
  line-height: 40px;
  float: left;
  margin-left: 2px;
}
.meta .social li span {
  padding-right: 10px;
}
.meta .social li a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #717171;
  background: #f4f4f4;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.meta .social li a:hover {
  color: #fff;
}
.meta .social li a.twitter:hover {
  background: #2caae1;
}
.meta .social li a.facebook:hover {
  background: #3b5998;
}
.meta .social li a.googleplus:hover {
  background: #dd4a38;
}
.meta .social li a.pinterest:hover {
  background: #ca222e;
}
.meta .social li a.linkedin:hover {
  background: #006699;
}

/* Pricing Tables */
.pricing {
  text-align: center;
}
.pricing.two-cols .columns {
  width: 50%;
}
.pricing.three-cols .columns {
  width: 33.33333%;
}
.pricing.four-cols .columns {
  width: 25%;
}
.pricing.five-cols .columns {
  width: 20%;
}
.pricing .item {
  border: 1px solid #ebebeb;
  margin-top: 22px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03);
}
.pricing .item.featured {
  margin-top: 0;
}
.pricing .item.featured .header {
  background: #e24f3d;
}
.pricing .item.featured .header h2 {
  color: #fff;
  border-color: #e24f3d;
}
.pricing .item .header h2 {
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
  padding: 20px 0;
  margin: 0;
}
.pricing .item .header h2 span {
  display: block;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  font-weight: 800;
  margin-top: 10px;
}
.pricing .item .price {
  padding: 25px 0;
  border-bottom: 1px solid #ebebeb;
}
.pricing .item .price h4 {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #717171;
}
.pricing .item .price h4 span {
  font-size: 60px;
  font-weight: 600;
  display: block;
  color: #373737;
}
.pricing .item .price h4 span b {
  font-size: 20px;
  font-weight: 400;
  line-height: 60px;
  vertical-align: middle;
  margin-right: 5px;
}
.pricing .item ul {
  list-style: none;
  margin: 0;
}
.pricing .item ul li {
  border-bottom: 1px solid #ebebeb;
  padding: 12px 0;
}
.pricing .item ul li:nth-child(odd) {
  background: #fafafa;
}
.pricing .item .footer {
  padding: 40px 0;
}
.pricing .item .footer .btn {
  padding: 13px 20px;
}

/* Google Maps fix */
.google_map img {
  max-width: none;
  height: auto;
}

/* CTA */
.panel.radius {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 6px rgba(100, 100, 100, 0.4);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 6px rgba(100, 100, 100, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 6px rgba(100, 100, 100, 0.4);
}
.panel.radius.grey {
  background: #f5f5f5;
  border-color: #c2c2c2;
}
.panel.radius.darkgrey {
  background: #595959;
  border-color: #3f3f3f;
  color: #e5e5e5;
}
.panel.radius.darkgrey h1, .panel.radius.darkgrey h2, .panel.radius.darkgrey h3, .panel.radius.darkgrey h4, .panel.radius.darkgrey h5 {
  color: #fff !important;
}
.panel.radius.green {
  background: #7ac043;
  border-color: #629c34;
  color: #f4faef;
}
.panel.radius.green h1, .panel.radius.green h2, .panel.radius.green h3, .panel.radius.green h4, .panel.radius.green h5 {
  color: #fff !important;
}

/* Toggle */
.toggle {
  margin-bottom: 20px;
}
.toggle .title {
  padding: 9px 15px;
  position: relative;
  cursor: pointer;
  border: 1px solid #e2e2e2;
  background: #fafafa;
  color: #3C3C3C;
  font-weight: 400;
  color: #878787;
  font-size: 13px;
}
.toggle .title:after {
  font-family: 'FontAwesome';
  content: "\f116";
  position: absolute;
  color: #5b5b5b;
  top: 3px;
  right: 17px;
  font-size: 20px;
  border: 0;
}
.toggle .title.toggled {
  background: #fff;
  color: #5b5b5b;
}
.toggle .title.toggled:after {
  content: "\f117";
}
.toggle .inner {
  display: none;
  border: 1px solid #E6E6E6;
  border-top: none;
  padding: 15px;
  overflow: hidden;
  background: #fff;
}

/* Labels */
.label {
  bottom: 0;
  font-size: inherit;
}
.label.red {
  background: #e24f3d;
  color: #fff;
}
.label.yellow {
  background: #ffba00;
  color: #373737;
}
.label.black {
  background: #373737;
  color: #fff;
}

/* Alert Boxes */
div.notification-box {
  position: relative;
  min-height: 90px;
  float: left;
  width: 100%;
  padding-left: 135px;
  margin-bottom: 10px;
  color: #fff;
}
div.notification-box .close {
  background: rgba(0, 0, 0, 0.35);
  color: rgba(255, 255, 255, 0.75);
  display: block;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  font-size: 14px;
  position: absolute;
  right: 12px;
  top: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
div.notification-box .close:hover {
  background: rgba(0, 0, 0, 0.5);
}
div.notification-box .icon-holder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 105px;
  min-height: 90px;
  height: 100%;
  text-align: center;
  line-height: 90px;
  font-size: 60px;
}
div.notification-box h6 {
  border: 0 !important;
  font-size: 18px;
  color: #fff !important;
  padding: 0 !important;
  margin: 20px 0 10px !important;
}
div.notification-box.success {
  background: #4cb99b;
}
div.notification-box.success .icon-holder {
  background: #40ab8d;
}
div.notification-box.error {
  background: #f56c5b;
}
div.notification-box.error .icon-holder {
  background: #e15b4a;
}
div.notification-box.information {
  background: #73c7de;
}
div.notification-box.information .icon-holder {
  font-size: 56px;
  background: #69bad0;
}
div.notification-box.warning {
  background: #fbb63f;
}
div.notification-box.warning .icon-holder {
  font-size: 50px;
  background: #fda611;
}
div.notification-box.note {
  background: #cdd1d1;
}
div.notification-box.note .icon-holder {
  font-size: 52px;
  background: #bfc4c4;
}

/* Blockquote */
blockquote {
  border: 0;
  paddding-top: 0;
  padding-left: 70px;
  position: relative;
}
blockquote:after {
  display: block;
  font-size: 80px;
  content: "\201C";
  position: absolute;
  top: -15px;
  left: 0px;
  font-weight: 600;
  color: #e0e0e0;
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
}
blockquote p {
  font-size: 18px;
  color: #878787;
}
blockquote p cite {
  padding-top: 10px;
}
blockquote.pullleft {
  float: left;
  width: 50%;
  margin-right: 30px;
}
blockquote.pullright {
  float: right;
  width: 50%;
  margin-left: 30px;
}

/* Home Slider */
.slider {
  max-height: 640px;
  min-height: 300px;
}
.slider .slides,
.slider .slides li {
  max-height: 600px;
  min-height: 300px;
}
.slider .slides li {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slider figure {
  width: 100%;
  height: 100%;
  min-height: 250px;
}
.slider figure .flex-caption {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  background: none;
  padding: 0;
  z-index: 50;
  max-height: 100%;
}
.slider figure .hidden {
  visibility: hidden;
}
.slider figure h2, .slider figure h3, .slider figure .slide_btn, .slider figure .video {
  margin-top: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
}
.slider figure h2, .slider figure h3, .slider figure .video {
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}
.slider figure h2 {
  display: block;
  clear: both;
  font-weight: 800;
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.slider figure h3 {
  display: block;
  clear: both;
  font-weight: 200;
  font-size: 26px;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -webkit-transition-delay: 0.4s;
  -moz-transition: all 0.5s ease 0.4s;
  -o-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
}
.slider figure .slide_btn {
  display: inline-block;
  margin-top: 20px;
  padding: 18px 20px;
  text-transform: uppercase;
  color: #fff;
  line-height: 0;
  font-size: 14px;
  font-weight: 800;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, background-color 0.4s ease;
  -webkit-transition-delay: 0.8s, 0.8s, 0s;
  -moz-transition: opacity 0.5s ease 0.8s, -moz-transform 0.5s ease 0.8s, background-color 0.4s ease 0s;
  -o-transition: opacity 0.5s ease 0.8s, -o-transform 0.5s ease 0.8s, background-color 0.4s ease 0s;
  transition: opacity 0.5s ease 0.8s, transform 0.5s ease 0.8s, background-color 0.4s ease 0s;
}
.slider figure .rightaligned {
  text-align: right;
}
.slider figure .video {
  .
			height: 100%;
  max-height: 100%;
  -webkit-transition: all 0.5s ease;
  -webkit-transition-delay: 1.2s;
  -moz-transition: all 0.5s ease 1.2s;
  -o-transition: all 0.5s ease 1.2s;
  transition: all 0.5s ease 1.2s;
}
.slider figure .video iframe, .slider figure .video object, .slider figure .video embed {
  max-width: 100%;
}
.slider .centered {
  text-align: center;
}

/* Flex Slider - General Styling */
.flex {
  overflow: hidden;
  line-height: 1;
  position: relative;
  background: #2c2c2c;
}
.flex.flex-start {
  overflow: hidden;
  background: #2c2c2c url("../img/flex-preloader.gif") center center no-repeat;
}
.flex .flex-direction-nav {
  z-index: 90;
}
.flex .flex-direction-nav a {
  position: absolute;
  display: block;
  top: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  background: rgba(0, 0, 0, 0.6);
  font-family: 'FontAwesome';
  color: #9c9c9c;
  text-indent: 0;
  font-size: 36px;
  line-height: 63px;
  text-align: center;
  z-index: 90;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: left 0.4s ease-in-out, right 0.4s ease-in-out, background 0.2s ease-in-out;
  -moz-transition: left 0.4s ease-in-out, right 0.4s ease-in-out, background 0.2s ease-in-out;
  -o-transition: left 0.4s ease-in-out, right 0.4s ease-in-out, background 0.2s ease-in-out;
  transition: left 0.4s ease-in-out, right 0.4s ease-in-out, background 0.2s ease-in-out;
}
.flex .flex-direction-nav a:hover {
  background: #fff;
}
.flex .flex-direction-nav .flex-prev {
  left: -100px;
}
.flex .flex-direction-nav .flex-prev i {
  padding-right: 1px;
}
.flex .flex-direction-nav .flex-next {
  right: -100px;
}
.flex .flex-direction-nav .flex-next i {
  padding-left: 1px;
}
.flex.post-gallery .enlarge {
  position: absolute;
  color: rgba(255, 255, 255, 0.9);
  top: 6px;
  right: 12px;
  font-size: 18px;
  border: 0;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}
.flex.post-gallery .enlarge:hover {
  color: #fff;
}
.flex.post-gallery .flex-direction-nav a {
  width: 46px;
  height: 46px;
  margin-top: -23px;
  line-height: 46px;
  font-size: 24px;
}
.single-portfolio .flex.post-gallery .flex-direction-nav a {
  width: 64px;
  height: 64px;
  margin-top: -32px;
  line-height: 63px;
  font-size: 36px;
}
.flex:hover .flex-direction-nav a.flex-prev {
  left: 30px;
}
.flex:hover .flex-direction-nav a.flex-next {
  right: 30px;
}
.flex .flex-control-paging {
  position: absolute;
  width: auto;
  .
		top: -35px;
  right: 20px;
  text-align: right;
  height: 35px;
}
.flex .flex-control-paging a {
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 8px;
  width: 8px;
  color: transparent;
}
.flex .flex-control-paging a.flex-active {
  background: white;
}
.flex .flex-control-paging a:hover {
  background: rgba(255, 255, 255, 0.7);
}
.flex .slides li {
  display: none;
  position: relative;
}
.flex .slides li .hidden {
  min-height: 250px;
  z-index: 5;
}
.flex .slides li.animated h2,
.flex .slides li.animated h3,
.flex .slides li.animated .slide_btn,
.flex .slides li.animated .video {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.flex > li {
  margin: 0;
}

/* Icons */
.boxed-icon {
  display: inline-block;
  padding: 10px 12px;
  min-width: 39px;
  text-align: center;
  line-height: 0;
  color: #717171;
  background: rgba(0, 0, 0, 0.06);
}
footer .boxed-icon {
  background: rgba(0, 0, 0, 0.1);
}
.boxed-icon:hover {
  background: #e24f3d;
  color: #fff;
}
.boxed-icon.twitter:hover {
  background: #2caae1;
}
.boxed-icon.facebook:hover {
  background: #3b5998;
}
.boxed-icon.googleplus:hover {
  background: #dd4a38;
}
.boxed-icon.pinterest:hover {
  background: #ca222e;
}
.boxed-icon.linkedin:hover {
  background: #006699;
}

/* Icon Lists */
.iconlist {
  list-style: none;
}
.iconlist li {
  padding: 2px 0 2px 25px;
  position: relative;
}
.iconlist li > i {
  position: absolute;
  top: 5px;
  left: 0;
  color: #878787;
}

/* Iconbox Shortcode */
.iconbox {
  display: block;
  margin-bottom: 0px;
}
.iconbox > span {
  display: block;
  float: left;
  line-height: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.iconbox .content {
  width: 100%;
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
}
.iconbox .content > strong {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #373737;
  font-weight: 600;
}
.iconbox .content + div {
  clear: both;
}
.iconbox.left .content {
  padding-left: 80px;
}
.iconbox.left > span {
  font-size: 55px;
  margin-right: 20px;
}
.iconbox.left:hover > span {
  color: #e24f3d;
}
.iconbox.heading .content {
  padding-left: 0px;
}
.iconbox.heading .content > strong {
  font-size: 16px;
  margin-bottom: 15px;
}
.iconbox.heading > span {
  font-size: 25px;
  margin-right: 25px;
  margin-bottom: 14px;
}
.iconbox.heading:hover > span {
  color: #e24f3d;
}
.iconbox.hexagon .content {
  padding-top: 140px;
  text-align: center;
}
.iconbox.hexagon .content > strong {
  text-align: center;
  font-size: 16px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.iconbox.hexagon .content > strong:after {
  content: '';
  display: block;
  height: 0;
  width: 40px;
  border-bottom: 1px solid #d8d8d8;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -20px;
}
.iconbox.hexagon > span {
  position: absolute;
  width: 98px;
  height: 106px;
  line-height: 102px;
  top: 0;
  left: 50%;
  margin-left: -49px;
  font-size: 50px;
  background: #eee;
  text-align: center;
}
.iconbox.hexagon > span:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -49px;
  width: 98px;
  height: 106px;
  background: url("../img/overlay-hexagon.png");
}
.iconbox.hexagon:hover > span {
  background: #e24f3d;
  color: #fff;
}

/* Testimonials Shortcode */
.testimonials.flex {
  background: none;
}
.testimonials.flex blockquote {
  padding: 0;
  text-align: center;
}
.testimonials.flex blockquote:after {
  content: '';
}

/* Team Member Shortcode */
.team_member .fresco {
  margin-bottom: 20px;
}
.team_member h3 {
  font-weight: 400;
  color: #5b5b5b;
  font-size: 20px !important;
}
.team_member h4 {
  font-size: 13px !important;
  color: #878787 !important;
}
.team_member p {
  margin-top: 20px;
  color: #878787 !important;
}

/* Carousel Shortcode */
.carousel {
  margin-bottom: 40px !important;
  height: auto;
}
.carousel .owl-wrapper:hover {
  cursor: url("../img/grabbing.png") 8 8, move;
}
.carousel .owl-wrapper-outer {
  overflow: hidden;
}
.carousel .owl-item {
  display: block;
  float: left;
}
.carousel .post {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  border-bottom: 0;
  margin-bottom: 0;
}
.carousel .post .post-title {
  float: left;
  width: 100%;
}
.carousel .post .post-title h3 {
  display: block;
  float: left;
  white-space: normal;
  text-align: left;
  max-width: 100%;
}
.carousel .excerpts {
  display: block;
  float: left;
  width: 100%;
  min-height: 32px;
  white-space: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}
.carousel.col-4 .post {
  max-width: 25%;
}
.carousel.col-3 .post {
  max-width: 33.3333%;
}
.carousel.col-2 .post {
  max-width: 50%;
}

.smallarrow,
.portfolio-header a:not(.gotoportfolio) {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  margin-left: 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.smallarrow:hover,
.portfolio-header a:not(.gotoportfolio):hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}
.smallarrow .icon-angle-left,
.portfolio-header a:not(.gotoportfolio) .icon-angle-left {
  padding-right: 2px;
}
.smallarrow .icon-angle-right,
.portfolio-header a:not(.gotoportfolio) .icon-angle-right {
  padding-left: 2px;
}

.portfolio-header a:not(.gotoportfolio) {
  width: 34px;
  height: 34px;
  line-height: 34px;
}

.gotoportfolio {
  display: inline-block;
  background: #2c2c2c;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-weight: 800;
  font-size: 11px;
  padding: 0 10px;
  margin-left: 3px;
  border: 0;
  vertical-align: middle;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.gotoportfolio:hover {
  color: #fff;
  background: #e24f3d;
}
.gotoportfolio i {
  margin-right: 8px;
}
.portfolio-header .gotoportfolio i {
  margin: 0;
}
.single-portfolio .gotoportfolio {
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
}
.single-portfolio .gotoportfolio:hover {
  background: #fff;
}
.single-portfolio .gotoportfolio:hover i {
  color: #e24f3d;
}

.carousel-controls {
  text-align: center;
  margin-bottom: 40px !important;
}

/* Portfolio */
#portfolioselect {
  position: relative;
  float: left;
  margin-bottom: 30px;
  width: 100%;
}
#portfolioselect.open #sortportfolio {
  background: #e24f3d;
}
#portfolioselect #sortportfolio {
  display: block;
  float: left;
  width: 100%;
  background: #373737;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#portfolioselect #sortportfolio:after {
  font-family: 'FontAwesome';
  content: "\f0d7";
  position: absolute;
  color: #fff;
  top: 15px;
  right: 20px;
  font-size: 13px;
}
#portfolioselect ul {
  list-style: none;
  margin: 0;
  display: none;
  float: left;
  width: 100%;
}
#portfolioselect ul li a {
  display: block;
  width: 100%;
  float: left;
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
  background: #2c2c2c;
  color: #878787;
  padding: 13px 20px;
  border-bottom: 1px solid #303030;
}
#portfolioselect ul li a:hover, #portfolioselect ul li a.active {
  color: #fff;
}

.gallery .thumbnail {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  line-height: 0;
  margin-bottom: 30px;
}
.gallery .thumbnail img {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.gallery .thumbnail figcaption {
  background: #555;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.gallery .thumbnail figcaption h2 {
  color: #fff;
  font-size: 17px;
  line-height: 26px;
  margin-top: 30px;
}
.gallery .thumbnail figcaption span {
  width: 100%;
  font-size: 12px;
  color: #999;
}
.gallery #portfolioselect {
  margin-bottom: 20px;
}

.filters {
  float: left;
  width: 100%;
  padding-bottom: 15px;
  list-style: none;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 30px;
}
.filters li {
  float: left;
  margin-right: 5px;
  font-size: 11px;
  text-transform: uppercase;
}
.filters li span {
  line-height: 27px;
  margin-right: 10px;
}
.filters li a {
  display: block;
  float: left;
  padding: 5px 10px;
  color: #878787;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.filters li a.active {
  background: #e24f3d;
  color: #fff;
}
.filters li a:not(.active):hover {
  color: #373737;
  background: #f0f0f0;
}

/* Isotope Specific (AJAX Portfolio) */
.isotope-item {
  z-index: 2;
  height: auto;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.isotope {
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -ms-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* Portfolio Specific Fixes */
.portfolio-container {
  padding-bottom: 40px;
}

.thbportfolio img {
  width: 100%;
  max-width: 100%;
}
.thbportfolio .post-content p {
  margin: 0;
  font-size: 13px;
}
.thbportfolio .item.three {
  width: 24.9%;
}
.thbportfolio [class*="column"] + [class*="column"]:last-child {
  float: left;
}

#portfolioselect {
  margin-bottom: 30px;
}

.portfolio-header {
  padding: 60px 0;
  background: #c5443b;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.portfolio-header h2 {
  font-size: 40px;
  color: #fff;
  margin-top: 0;
}
.portfolio-header p {
  margin-bottom: 30px;
}
.portfolio-header a {
  margin-top: 10px;
}

.relatedposts {
  padding-bottom: 50px;
}
.relatedposts [class*="column"] + [class*="column"]:last-child {
  float: left;
}
.relatedposts h6 {
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: 800;
  color: #373737;
  text-transform: uppercase;
  border-bottom: 2px solid #ebebeb;
}

.portfolio-attributes {
  margin-top: 40px !important;
}
.portfolio-attributes .columns {
  margin-bottom: 20px;
}
.portfolio-attributes strong {
  display: block;
  width: 100%;
  border-bottom: 1px dotted #c8c8c8;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

/* Portfolio & Blog Shortcodes */
.posts .post {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  border-bottom: 0;
}
.posts h3 {
  display: block;
  float: left;
}
.posts .excerpts {
  display: block;
  float: left;
  width: 100%;
  white-space: normal;
  font-size: 12px;
  line-height: 16px;
}
.posts.thumb ul {
  list-style: none;
}
.posts.thumb ul li {
  width: 100%;
  padding-bottom: 10px;
}
.posts.thumb ul li:last-child {
  padding-bottom: 0;
}
.posts.thumb ul figure {
  float: left;
  margin-right: 10px;
}
.posts.thumb ul a {
  font-weight: bold;
}
.posts.thumb ul span {
  font-size: 12px;
}

/* Sidebar & Widgets */
.widget {
  margin-bottom: 40px;
  font-size: 12px;
  /* &.widget_recent_comments {
  	li {
  		display: block;
  		padding: 15px 20px !important;
  		border: 0;
  		margin-bottom: 10px;
  		background: rgba(0,0,0,0.1);
  		&:last-child {
  			margin-bottom: 0;
  		}
  	}
  } */
}
.lt-ie9 .widget img {
  max-width: none;
}
.widget p {
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
}
.widget h6 {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
  color: #373737;
}
.widget ul {
  list-style: none;
}
.widget ul li {
  font-size: 13px;
  padding: 10px 0;
  border-bottom: 1px solid #ebebeb;
}
.widget ul li.current_page_item a {
  font-weight: 600;
}
.widget ul li:first-child {
  padding-top: 0;
}
.widget.widget_tag_cloud li {
  display: inline-block;
  margin-right: 4px;
  border: 0;
  padding-top: 0;
  padding-bottom: 6px;
}
.widget.widget_tag_cloud li > a {
  display: block;
  padding: 0 10px;
  line-height: 28px;
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.widget.widget_tag_cloud li > a:hover {
  background: #e24f3d;
  color: #fff !important;
}
footer .widget.widget_tag_cloud li > a {
  color: #717171;
}
.widget.widget_pages li.current_page_item {
  font-weight: 600;
}
.widget.widget_categories li.current-cat {
  font-weight: 600;
}
.widget.widget_flickr .flickr_badge_image {
  width: 49px;
  height: 49px;
  display: inline-block;
  margin: 0 14px 14px 0;
  overflow: hidden;
  padding: 3px;
  border: 1px solid #cbcbcb;
  line-height: 0;
}
.widget.widget_flickr .flickr_badge_image:hover {
  background: #e24f3d;
  border-color: #e24f3d;
}
footer .widget.widget_flickr .flickr_badge_image {
  border: 1px solid #393939;
}
.widget.widget_flickr .flickr_badge_image img {
  height: 41px;
  width: 41px;
}
.widget.widget_flickr .flickrcontainer {
  clear: both;
  width: 100%;
}
.widget.widget_dribbble a {
  width: 49px;
  height: 49px;
  display: inline-block;
  margin: 0 16px 16px 0;
  overflow: hidden;
  padding: 3px;
  border: 1px solid #cbcbcb;
  line-height: 0;
}
.widget.widget_dribbble a:hover {
  background: #e24f3d;
  border-color: #e24f3d;
}
footer .widget.widget_dribbble a {
  border: 1px solid #393939;
}
.widget.widget_dribbble a img {
  height: 100%;
}
.widget.widget_recent_entries a, .widget.widget_thbpopular a {
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 1;
  margin-top: 2px;
}
.widget.widget_recent_entries span, .widget.widget_thbpopular span {
  font-size: 11px;
}

/* Comments */
#comments h3 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 22px;
}
#comments #respond {
  padding-top: 30px;
  clear: both;
  margin-bottom: 50px;
}
#comments ol.commentlist {
  list-style: none;
  width: 100%;
  float: left;
  margin: 0 0 50px;
}
#comments ol.commentlist + #respond {
  border-top: 1px solid #dfdfdf;
}
#comments ol.commentlist li {
  width: 100%;
  float: left;
}
#comments ol.commentlist > li:first-child .comment-inner {
  margin-top: 0;
}
#comments ol.commentlist .vcard {
  float: left;
  width: 60px;
  margin-right: 20px;
}
#comments ol.commentlist .vcard .avatar {
  float: left;
  width: 60px;
}
#comments ol.commentlist .comment-inner {
  width: 100%;
  float: left;
  padding: 20px 20px 3px;
  position: relative;
  margin-top: 20px;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03);
}
#comments ol.commentlist .comment-reply-link {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 3px 7px;
  font-size: 10px;
}
#comments ol.commentlist .comment-reply-link i {
  margin-right: 5px;
}
#comments ol.commentlist .comment-text {
  width: auto;
  margin-left: 80px;
  margin-top: 15px;
  position: relative;
}
#comments ol.commentlist .comment-text .authorname {
  font-size: 11px;
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
#comments ol.commentlist .comment-text .awaiting_moderation {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #7ac043;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 8px;
  padding: 2px 4px;
  font-style: normal;
}
#comments ol.commentlist .children {
  display: block;
  float: left;
  width: 100%;
  margin: 20px 0 0;
  padding-left: 60px;
  list-style: none;
  border-left: 1px solid #ebebeb;
  position: relative;
}
#comments ol.commentlist .children:after {
  content: '';
  display: block;
  width: 25px;
  height: 0;
  border-bottom: 1px solid #ebebeb;
  position: absolute;
  top: 20px;
  left: 0;
}
#comments ol.commentlist .children > li:first-child > .comment-inner {
  margin-top: 0;
}

/* Footer */
footer {
  background: #2c2c2c;
  padding: 0;
  color: #878787;
  width: 100%;
  clear: both;
  font-size: 12px;
}
.boxed footer {
  max-width: 1230px;
  margin: 0 auto;
  -webkit-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
}
footer > .row {
  position: relative;
  padding: 35px 0 0 0;
}
footer .widget {
  border-top: none;
}
footer .widget p {
  font-style: normal;
}
footer .widget h6 {
  padding-bottom: 15px;
  color: #fff;
  position: relative;
}
footer .widget h6:after {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 0px;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #fff;
}
footer .widget ul {
  list-style: none;
}
footer .widget ul li {
  font-size: 12px;
  margin-bottom: 5px;
  border-bottom: 1px solid #393939;
}
footer a {
  color: #ccc;
}
footer a:hover {
  color: #e24f3d;
}
footer .subfooter {
  background: #2c2c2c;
  padding: 0 0 50px;
}
footer .subfooter .row {
  border-top: 1px solid #3a3a3a;
  padding-top: 20px;
}
footer .subfooter p {
  font-size: 12px;
  margin: 0;
  line-height: 22px;
}
footer .subfooter a {
  color: #878787;
}
footer .subfooter a:hover {
  color: #e24f3d;
}
footer .subfooter ul {
  float: right;
  list-style: none;
  margin: 0;
}
footer .subfooter ul li {
  float: left;
  position: relative;
  padding-left: 13px;
  margin-right: 13px;
}
footer .subfooter ul li:after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 11px;
  border-left: 1px solid #414141;
  top: 4px;
  left: 0;
}
footer .subfooter ul li:first-child:after {
  border: 0;
}

.twitterbar {
  background: #f4f4f4;
  padding: 20px 0;
  height: 86px;
  color: #878787;
}
.twitterbar .btn {
  line-height: 30px;
}
.twitterbar i.icon-twitter {
  color: #2caae1;
  font-size: 44px;
  line-height: 1;
}
.twitterbar ul {
  list-style: none;
  margin: 0;
}
.twitterbar ul a {
  color: #2caae1;
  font-weight: bold;
}
.twitterbar ul li {
  display: block;
  height: 50px;
  line-height: 22px;
  font-size: 13px;
  margin-right: 100px;
}
.twitterbar ul li .created {
  background: none;
  display: inline;
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
  color: #ababab;
  text-align: left;
  font-weight: normal;
  padding-left: 0;
  padding-top: 3px;
}
.twitterbar ul i {
  display: none;
}
.twitterbar .user {
  text-decoration: none;
}
.twitterbar .tweets {
  position: relative;
  height: 46px;
  padding: 0;
}
.twitterbar .tweets .controls {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -15px;
}

/* 404 - Not Found Page */
.notfound {
  text-align: center;
  padding: 80px 20px;
}
.notfound h2 {
  font-size: 32px;
  font-weight: 700;
  color: #878787;
  margin-top: 50px;
}
.notfound p {
  color: #5d5d5d;
  font-size: 18px;
}
.notfound form {
  width: 50%;
  margin: 0 auto;
}
.notfound input {
  margin-top: 40px;
}

#scrolltotop {
  display: none;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 50px;
  top: 70%;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#scrolltotop i {
  font-size: 24px;
  line-height: 38px;
  color: #fff;
}
#scrolltotop:hover {
  border: 1px solid #ebebeb;
  background: #fff;
}
#scrolltotop:hover i {
  color: #e24f3d;
}

code, pre {
  font: 13px Consolas, "Andale Mono", Courier, "Courier New", monospace;
  background: url(../img/pre_bg.gif) repeat;
  padding: 19px 20px 15px 20px;
  line-height: 19px;
  overflow: auto;
  overflow-Y: hidden;
  color: #444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #f2b6b6;
}

/* WP-Specific */
.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.alignright,
.alignleft,
.aligncenter,
.bypostauthor {
  color: inherit;
}

.alignright {
  float: right;
  margin: 0 0 14px 20px;
}

.alignleft {
  float: left;
  margin: 0 20px 14px 0;
}

.alignright img,
.alignleft img,
.aligncenter img {
  width: 100%;
  max-width: 100%;
}

.aligncenter {
  clear: both;
  margin: 0 auto;
}

.wp-caption-text {
  margin: 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
  font-style: italic;
}

.gallery {
  clear: both;
}
.gallery .gallery-item {
  float: left;
  margin: 0;
  width: 120px;
  margin: 0 1px 1px;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.gallery .gallery-item:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.gallery .gallery-item a {
  line-height: 0;
  display: block;
  float: left;
}
.gallery .gallery-item .gallery-caption {
  display: none;
}

/* Clients Shortcode */
.clientlist .columns div {
  border: 1px solid #f3f3f3;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.clientlist .columns div:hover {
  border-color: #e24f3d;
}
.clientlist .columns div:hover img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
}
.clientlist .columns div img {
  height: auto;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.clientlist .columns a {
  display: block;
  width: 100%;
  height: 100%;
}

/* Dial Shortcode */
.knob {
  display: inline-block;
  position: relative;
  margin: 0 0 30px 0;
  text-align: center;
}
.knob strong {
  font-weight: 400;
  font-size: 14px;
  color: #373737;
}

.dial {
  display: none;
  color: #373737 !important;
  font-size: 50px !important;
  font-weight: 800 !important;
  font-family: inherit !important;
  width: 100px !important;
  height: 60px !important;
  top: 23% !important;
  left: 21% !important;
  margin: 0 !important;
}
.dial.visible {
  display: block;
}

/* Line Divider */
.divider {
  border-top: 1px solid #ebebeb;
  margin: 0 auto 20px;
  width: 80%;
}

/* Changes to Foundation /* Tabs & Accordion */
dl.tabs {
  margin-bottom: 0;
  padding-top: 3px;
}
dl.tabs dd.active {
  border-top: 0;
  border-left: solid 1px #e2e2e2;
  border-right: solid 1px #e2e2e2;
}
dl.tabs dd.active a {
  border-top: 3px solid #e24f3d;
  border-left: 0;
  border-right: 0;
  color: #5b5b5b;
  line-height: 38px;
  border-bottom: 0;
  font-weight: 400;
}
dl.tabs dd.active + dd a {
  border-left: 0;
}
dl.tabs dd {
  margin-top: -3px;
}
dl.tabs dd a {
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  color: #878787;
  background: #fafafa;
  border-top: solid 1px #e2e2e2;
  border-left: solid 1px #e2e2e2;
  border-bottom: solid 1px #e2e2e2;
}
dl.tabs dd a i {
  margin-right: 8px;
}
dl.tabs dd:last-child {
  border-right: solid 1px #e2e2e2;
}

ul.tabs-content {
  padding: 15px;
  background: #fff;
  border-bottom: solid 1px #e2e2e2;
  border-right: solid 1px #e2e2e2;
  border-left: solid 1px #e2e2e2;
}

ul.accordion {
  clear: both;
  border-color: #e2e2e2;
}
ul.accordion > li > div.title {
  background: #fafafa;
  border-color: #e2e2e2;
  position: relative;
  padding: 8px 15px;
}
ul.accordion > li > div.title:after {
  font-family: 'FontAwesome';
  content: "\f116";
  position: absolute;
  color: #5b5b5b;
  top: 3px;
  right: 30px;
  font-size: 20px;
  border: 0;
}
ul.accordion > li > div.title h5 {
  font-weight: 400;
  color: #878787;
  font-size: 13px;
}
ul.accordion > li.active {
  border-top: 1px solid #e2e2e2;
}
ul.accordion > li.active div.title {
  padding: 8px 15px;
}
ul.accordion > li.active div.title:after {
  content: "\f117";
  border: 0;
  top: 3px;
  right: 30px;
}
ul.accordion > li.active h5 {
  color: #5b5b5b !important;
}
ul.accordion > li.active .content {
  border-top: 1px solid #e2e2e2;
  border-color: #e2e2e2;
}

/* Changes to Foundation /* Table */
table {
  border-spacing: 0;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.03);
}
table thead, table tfoot {
  background: none;
}
table thead tr th,
table tfoot tr td {
  text-transform: uppercase;
  font-size: 16px;
  padding: 20px 10px;
}
table thead tr th {
  border-bottom: 1px solid #e2e2e2;
}

/* Style Switcher */
#style-switcher {
  display: block;
  width: 205px;
  position: fixed;
  top: 200px;
  left: -165px;
  z-index: 9999;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}
#style-switcher.active {
  left: 0;
}
#style-switcher .style-toggle {
  float: right;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #e24f3d;
  color: #fff;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#style-switcher .style-toggle.active {
  background: #373737;
}
#style-switcher h2 {
  display: block;
  float: left;
  width: 165px;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  font-size: 12px;
  font-weight: 800;
  color: #fff;
  background: #e24f3d;
}
#style-switcher .style-content {
  float: left;
  background: #fff;
  padding: 0 15px;
  width: 165px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
#style-switcher .style-content h3 {
  color: #474646;
  font-size: 13px;
  font-weight: 600;
  margin: 15px 0 13px;
  float: left;
}
#style-switcher .style-content .switch {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
}
#style-switcher .style-content .switch li a {
  display: block;
  float: left;
  font-size: 12px;
  color: #7c7c7c;
  border: 1px solid #e1e1e1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 65px;
}
#style-switcher .style-content .switch li a.active {
  background: #474646;
  border-color: #474646;
  color: #fff;
}
#style-switcher .style-content .switch li:last-child a {
  margin-left: 5px;
}

/* Responsive Changes */
@media only screen and (max-width: 767px) {
  .thbportfolio .column, .thbportfolio .columns {
    width: 100% !important;
  }

  .blog.masonry .column, .blog.masonry .columns {
    width: 100% !important;
  }

  .row {
    width: 440px;
    margin: 0 auto;
  }

  #scrolltotop,
  .flex-direction-nav {
    display: none !important;
  }

  .alignright,
  .alignleft,
  .aligncenter {
    width: 100% !important;
    margin: 0 0 20px;
  }

  .relatedposts .post {
    margin-bottom: 20px;
  }

  #breadcrumb {
    padding: 10px 0;
  }

  .twitterbar {
    height: 100px;
  }
  .twitterbar li {
    margin-right: 0;
  }

  blockquote.pullleft,
  blockquote.pullright {
    width: 100%;
  }

  .slider .slides li {
    background-position: center 60% !important;
    background-repeat: no-repeat !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .slider figure h2 {
    font-size: 24px !important;
  }
  .slider figure h3 {
    font-size: 18px !important;
  }
  .slider figure .slide_btn {
    font-size: 14px !important;
  }

  .portfolio-header {
    padding: 20px 0 !important;
  }
  .portfolio-header h2 {
    font-size: 22px !important;
  }
  .portfolio-header p {
    margin-bottom: 20px !important;
  }

  .relatedposts {
    display: none;
  }

  #comments ol.commentlist .comment-reply-link {
    top: 0;
    right: 0;
  }

  #comments ol.commentlist .children {
    padding-left: 25px;
  }

  .post .post-gallery.quote blockquote,
  .post .post-gallery.link a {
    font-size: 18px;
    line-height: 24px;
  }

  #contact-map {
    height: 200px !important;
  }

  .twitterbar .tweets {
    padding: 0 15px;
  }

  .twitterbar .tweets .controls {
    display: none;
  }
}
@media only screen and (max-width: 940px) {
  [role="main"] {
    padding: 0;
  }

  #header .logo > a.hide-logo {
    display: none;
  }

  #header .logo > a.show-logo {
    display: block;
  }
  .notfixed #header .logo > a.show-logo {
    height: 40px;
    margin: 5px 0 !important;
  }

  .notfixed #header {
    position: relative !important;
    height: auto !important;
  }
  #header.fixed {
    position: relative !important;
    height: auto !important;
  }
  .admin-bar #header.fixed {
    top: 0px !important;
  }
  #header.fixed .logo a {
    height: 40px !important;
    margin: 5px 0 !important;
  }
  #header.fixed + [role="main"] {
    padding-top: 20px;
  }
  .admin-bar #header.fixed + [role="main"] {
    padding-top: 20px !important;
  }
  #header .sf-menu {
    margin: 0 !important;
  }
  #header .desktop-menu {
    display: none;
  }
  #header .mobile-menu-toggle {
    display: block;
  }

  #scrolltotop {
    right: 20px;
  }

  .slider figure h2 {
    font-size: 32px;
  }
  .slider figure h3 {
    font-size: 20px;
  }

  .portfolio-header {
    padding: 40px 0;
  }
  .portfolio-header h2 {
    font-size: 30px;
    color: #fff;
  }
  .portfolio-header p {
    margin-bottom: 20px;
  }

  .iconbox.left > span {
    font-size: 35px;
  }

  .iconbox.left .content {
    padding-left: 60px;
  }

  #contact-map {
    height: 350px;
  }

  #style-switcher {
    display: none;
  }
}
