body {
	margin: 10px;
	color: #666;
}
h1, h2, h3, h4, h5, h6 {
  color: #333;
}
h1 {
  font-size: 34px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 24px;
  font-weight: 500;
  color: #373737;
  text-transform: uppercase;
}
h5 {
  font-size: 16px;
  line-height: 22px;
  color: #878787;
  font-weight: 400;
}
h6 {
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: 800;
  color: #373737;
  text-transform: uppercase;
  border-bottom: 2px solid #ebebeb;
}