body {
	background-color: #a3aeb9 !important;
}
body.dark {
	background-color: #0f1923 !important;
}
body.light {
	background-color: #b5b5b5 !important;
}
.app {
	background-color: #0d1117;
}
.gallery__image__label {
	color: #bbb;
}
