/*
Theme Name: MEO real estate admin
Theme URI: http://underscores.me/
Author: MEO
Author URI: http://www.meomeo.ch/
Version: 1.0.0
Text Domain: meo_real_estate_admin
*/

.portlet-title {
	clear: both;
}

.site-selector {
	float: right;
}

#google-map
{
    width: 100%;
    height: 350px;
    display: none; /* For now */
}
#google-map #map
{
    width: 100%;
    height: 100%;
}
#table-1_filter
{
    display: none;
}
.page-template-contact-php .view-contact,
.page-template-contact-php .edit-contact,
.page-template-contact-php .pdf-download {
	float: right;
	margin-left: 10px;
}

.page-template-contact-php .map-wrapper {
	display: block;
}

.page-template-contact-php .map-wrapper img {
	max-width: 100%;
	margin: 20px 0;
}

.page-template-contact-php .map-wrapper img.dummy {
	height: 150px;
}

.table.analytics>tbody>tr>td {
	padding-bottom: 40px;
}

.page-template-contact-php .loader img {
	margin: 100px auto;
	display: block;
}

.page-template-contact-php .page-name-wrapper {
	margin-bottom: 5px;
}
.page-template-contact-php .page-name {
	display: inline-block;
	width: 45%;
}

.page-template-contact-php .bar {
	display: inline-block;
	background-color: #d23636;
}

.page-template-statistics-php #analytics {
	min-height: 1000px;
}

.page-template-contacts-php .container .fa {
	font-size: 20px;
	margin-right: 0.5em;
}

.linked-spinner,
.availability-spinner,
.price-spinner {
	margin-left: 5px;
	display: none;
}

.linked-result-icon,
.availability-result-icon,
.price-result-icon {
	margin-left: 5px;
	font-size: 20px;
	display: none;
}
.linked-result-icon.tick,
.availability-result-icon.tick,
.price-result-icon.tick {
	color: #46a046;
}
.linked-result-icon.cross,
.availability-result-icon.cross,
.price-result-icon.cross {
	color: #ce312c;
}

.contact-type-icon {
	margin: 0 auto;
	background: url(images/contact-icons.png) no-repeat top left;
	width: 20px;
	height: 21px;
	background-size: 20px 234px;
}
.contact-type-icon.contact-type-icon-contact {
	background-position: 0 0;
}
.contact-type-icon.contact-type-icon-manual {
	background-position: 0 -35px;
}
.contact-type-icon.contact-type-icon-file {
	background-position: 0 -71px;
}
.contact-type-icon.contact-type-icon-alert {
	background-position: 0 -109px;
}
.contact-type-icon.contact-type-icon-day_info {
	background-position: 0 -140px;
        height: 31px !important;
}
.contact-type-icon.contact-type-icon-newsletter {
	background-position: 0 -180px;
}
.contact-type-icon.contact-type-icon-achat {
	background-position: 0 -216px;
}
.custom-field-edit .close.delete-field {
	float: none;
}

.custom-field-edit .custom-field-add {
	float: right;
}

.contact-custom-field {
	width: 80%;
}

.alert {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}

.contact-custom-field-message .alert {
	margin-top: 10px;
}

.add-contact-linked-lot {
	font-size: 24px;
	float: right;
}
.linked-lots select {
	width: 80%;
	margin-bottom: 5px;
}

.table-interactions,
.table-relationstates {
	background-color: #ededed;
}

.table-interactions th,
.table-interactions td, 
.table-relationstates th,
.table-relationstates td {
	border-top: none !important;
}

.interaction,
.relationstate {
	display: none;
	margin-bottom: 15px;
}

.interaction.interaction-1, 
.relationstate.relationstate-1 {
	display: block;
}

.interaction-date, 
.relationstate-date  {
	color: #9e9d9c;
}
.interaction-description, 
.relationstate-state {
	color: #000;
	font-weight: bold;
}

.new-interaction-form .new-interaction-date, 
.new-relationstate-form .new-relationstate-date{
	padding: 2px;
	margin-bottom: 5px;
	border: none;
}

.new-interaction-form .new-interaction-description, 
.new-relationstate-form .new-relationstate-state {
	width: 100%;
	margin-bottom: 5px;
	border: none;
}

.new-interaction-message, 
.new-relationstate-message {
	margin-top: 10px;
}

.edit-contact-form input {
	padding: 2px;
}

.edit-contact-form textarea {
	padding: 2px;
	width: 100%;
}

.price-updater {
 	background-image: url(./images/edit-icon.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    float: right;
    display:inline-block;
    width:16px;
}

.user-list-element {
	margin-bottom: 0.8em;
	line-height: 20px;
	vertical-align: text-top;
}

table.app-users td {
	text-align: center;
}

table.app-users td.user-login {
	text-align: left;
}

a.delete-user,
a.delete-user:visited,
a.delete-user:active {
	color: #bb2a2a;
	font-size: 20px;
	position: relative;
	top: 2px;
}

a.delete-user:hover {
	color: #cc2d2d;
}
