<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/jquery.mobile.structure-1.4.5.min.css">
		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="css/overrides.css">
		<script src="js/vendor/winstore-jscompat.js"></script>
		<script src="js/vendor/jquery-1.11.1.min.js"></script>
		<script src="js/vendor/imgcache.js"></script>
		<script src="js/main.js"></script>

        <script>
            var deviceReadyDeferred = $.Deferred();
            var jqmReadyDeferred = $.Deferred();

            $(document).ready(function() {
                on_ready();

                //Use JQM params plugin in order to pass data between pages.
                $(document).bind("pagebeforechange", function(event, data) {
                    $.mobile.pageData = (data && data.options && data.options.pageData) ? data.options.pageData : null;
                });

                $( '#splash-main'        ).on( "pageshow",       pageshow_splash_main );

                $( "#splash-development" ).on( "pagebeforeshow", pagebeforeshow_splash_development );
                $( "#gallery"            ).on( "pagebeforeshow", pagebeforeshow_gallery );

                $( "#login"              ).on( "pagecreate",     pagecreate_login );
                $( "#login"              ).on( "pagebeforeshow", pagebeforeshow_login );
                $( "#development-select" ).on( "pagebeforeshow", pagebeforeshow_development_select );

                $( "#gallery_image"      ).on( "pagebeforeshow", pagebeforeshow_gallery_image );
                $( "#gallery_spinner"    ).on( "pagebeforeshow", pagebeforeshow_gallery_spinner );
                $( "#gallery_video"      ).on( "pagebeforeshow", pagebeforeshow_gallery_video );

                $( "#listing"            ).on( "pagebeforeshow", pagebeforeshow_listing );

                $( "#thumbs"             ).on( "pagebeforeshow", pagebeforeshow_thumbs );

                $( "#lot"                ).on( "pagebeforeshow", pagebeforeshow_lot );
                $( "#lot"                ).on( "pageshow",       pageshow_lot );

                $('.app'                 ).on( "pagebeforehide", pagebeforehide_all);

            });

			document.addEventListener("deviceready", function() {
				FastClick.attach(document.body); // remove delay in response on apple devices (which wait for the possibility of a doubleclick)
				deviceReadyDeferred.resolve();
			}, false);


            $(document).on("mobileinit", function () {
				$.defaultPageTransition          = "none";
				$.defaultDialogTransition        = 'none';
				$.mobile.defaultPageTransition   = 'none';
				$.mobile.defaultDialogTransition = 'none';
				$.mobile.buttonMarkup.hoverDelay = 0;

                jqmReadyDeferred.resolve();
            });

            $.when(deviceReadyDeferred, jqmReadyDeferred).then(initialise_app);

            // Required by iScroll library to improve responsiveness on apple devices
            document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
        </script>

        <script src="js/vendor/jquery.mobile-1.4.5.min.js"></script>
        <script src="js/vendor/jqm.page.params.js"></script>
        <script src="js/vendor/fastclick.js"></script>
		<script src="js/vendor/iscroll-zoom.js"></script>
	    <script src="js/vendor/jsrender.js"></script>
	    <script src="js/vendor/jquery.reel.js"></script>

	</head>
	<body>
		<!-- loading screen -->
		<div id="loading" class="app loading background-splash" data-role="page">
			<main class="app__main" role="main" data-role="content">
				<div class="content-wrapper">
					<div class="spinner"></div>
				</div>
			</main>
		</div>

		<!-- Login screen -->
		<div id="login" class="app login background-splash" data-role="page">
			<header class="app__head" data-role="header">
				<a href="#login" class="app__logo"><img src="img/ivizzio.logo.png" alt=""></a>
			</header>
			<main class="app__main" role="main" data-role="content">
				<div class="login-form-wrapper"></div>
			</main>

			<script id="template_login_form" type="text/x-jsrender">
				<form action="" class="login-form">
					<div class="project-view-logo login-form__logo"></div>
					<div data-role="fieldcontain" class="login-form__item ui-field-contain">
						<label class="visuallyhidden" for="name">{{>labels.username}}</label>
						<input autocapitalize="off" autocorrect="off" class="login-form__text name" name="name" data-role="none" placeholder="{{>labels.username}}" type="text">
					</div>
					<div data-role="fieldcontain" class="login-form__item ui-field-contain">
						<label class="visuallyhidden" for="password">{{>labels.password}}</label>
						<input autocapitalize="off" autocorrect="off" class="login-form__text password" name="password" data-role="none" placeholder="{{>labels.password}}" type="password">
					</div>
					<div data-role="fieldcontain" class="login-form__item ui-field-contain">
						<button class="login-form__button ui-btn ui-shadow ui-corner-all" type="submit" title="{{>labels.connect}}">{{>labels.connect}}</button>
					</div>
				</form>
			</script>
		</div>


		<!-- Downloading screen -->
		<div id="downloader" class="app downloader background-splash" data-role="page">
			<main class="app__main" role="main" data-role="content">
				<div class="content-wrapper">
					<div class="spinner"></div>
					<div class="progress"></div>
				</div>
			</main>
		</div>


		<!-- Development selection -->
		<div id="development-select" class="app development-select background-splash" data-role="page">
			<header class="app__head" data-role="header">
				<a href="#login" class="app__logo"><img src="img/ivizzio.logo.png" alt=""></a>
				<div class="logout-wrapper"></div>
			</header>
			<main class="app__main" data-panes="true" role="main">
				<div class="selector">
					<div class="selector__items clearfix">
						&nbsp;
					</div>
				</div>
			</main>

			<!-- jsRender templates -->
			<script id="template_selector" type="text/x-jsrender">
				<ul class="development_selector">
					{{for developments}}
						<li class="selector__item">
							<a class="selector__link" href="" data-development-id="{{:id}}"><img class="selector__image" src="{{:selector_image}}" alt="{{:name}}"></a>
							<a class="selector__link__label" href="" data-development-id="{{:id}}"><span class="development-name">{{:name}}</span> | <span class="development-location">{{:location}}</span></a>
						</li>
					{{/for}}
				</ul>
			</script>
		</div>

		<!-- Main splash screen -->
		<div id="splash-main" class="app splash-main background-splash" data-role="page">
			<main class="app__main" data-panes="true" role="main" data-role="content">
				<div class="content-wrapper">
					<div class="splash-content">
						<a class="show-splash-development" href="#splash-development" data-transition="fade">&nbsp;</a>
					</div>
				</div>
			</main>
		</div>

		<!-- Development splash screen -->
		<div id="splash-development" class="app splash-development background-splash" data-role="page">
			<header class="app__head" data-role="header">
				<a href="#splash-main" class="app__logo development_logo"><img src="img/ivizzio.logo.png" alt=""></a>
				<div class="logout-wrapper"></div>
			</header>
			<main class="app__main" data-panes="true" role="main" data-role="content">
				<div class="content-wrapper">
					<div class="splash-content">
						<a class="show-development" href="#gallery">
							<div class="development-content">
								<div class="development-location"></div>
								<div class="development-slogan"></div>
							</div>
						</a>
					</div>
				</div>
			</main>
			<!-- jsRender templates -->
			<script id="template_slogan" type="text/x-jsrender">
				{{for lines}}
					{{:#data}}<br>
				{{/for}}
			</script>
		</div>

		<!-- Gallery -->
		<div id="gallery" class="app gallery" data-role="page" data-development-id="-1">
          <header class="app__head">
            <a href="#splash-main" class="app__logo development_logo"><img src="img/ivizzio.logo.png" alt=""></a> <span class="development-name">&nbsp;</span> | <span class="development-location">&nbsp;</span>
            <div class="logout-wrapper"></div>
          </header>
          <main class="app__main" role="main">
            <div class="content-wrapper">
              <!-- content -->
            </div>
          </main>
          <footer class="app__foot" data-role="footer" data-position="fixed"></footer>

          <!-- jsRender templates -->
          <script id="template_gallery" type="text/x-jsrender">
            <ul class="gallery">
              {{props elements}}
                {{if !~isEmptyObject(prop.content) ~group=key ~row_details=prop tmpl='#template_gallery_row' /}}
              {{/props}}
            </ul>
          </script>

          <script id="template_gallery_row" type="text/x-jsrender">
            <li class="gallery__group">
              <h2 class="gallery__title">{{:~row_details.title}}</h2>
              <div class="gallery-scroll-wrapper">
                <ul class="gallery__images clearfix">
                  {{props ~row_details.content}}
                    <!-- Explicitly set width to allow iScroll to correctly calculate width -->
                    <li class="gallery__image" style="width: {{halve prop.thumbnail.width /}}px; ">
                      <a class="gallery_link_{{url:prop.type}}" data-group="{{url:~group}}" data-id="{{url:key}}" href="#gallery_{{url:prop.type}}?group={{url:~group}}&amp;id={{url:key}}"><img src="{{:prop.thumbnail.name}}"></a>
                      <div class="gallery__image__label">{{if prop.label}}{{>prop.label}}{{else}}&nbsp;{{/if}}</div>
                    </li>
                  {{/props}}
                </ul>
              </div>
            </li>
          </script>
        </div>

		<!-- Gallery: Image -->
		<div id="gallery_image" class="app gallery_image" data-role="page">
          <header class="app__head">
            <a href="#splash-main" class="app__logo development_logo"><img src="img/ivizzio.logo.png" alt=""></a> <span class="development-name">&nbsp;</span> | <span class="development-location">&nbsp;</span><span class="header-suffix-wrapper"> | <span class="header-suffix">&nbsp;</span></span>
          </header>
          <main class="app__main" role="main" data-role="content">
            <div class="content-wrapper">
              <!-- content -->
            </div>
          </main>
          <footer class="app__foot" data-role="footer" data-position="fixed"></footer>

          <script id="template_gallery_image" type="text/x-jsrender">
            <div class="gallery-image-group-scroll-wrapper">
              <ul class="gallery-image-group clearfix">
                <li class="gallery-image-wrapper active">
                  {{if previous}}
                    <a class="gallery-nav arrow arrow-left" href="#gallery_{{:previous_type}}?group={{:group_id}}&id={{:previous}}"><img src="img/arrow-left.png"></a>
                  {{/if}}
                  {{if current.zoom}}
                    {{if is_windows}}
                      <div class="windows-zoom-wrapper">
                    {{/if}}
                    <div class="image-zoom-wrapper">
                  {{/if}}
                  <img src="{{:current.main}}" alt=""{{if current.label}} data-label="{{:current.label}}"{{/if}}>
                  {{if current.zoom}}
                    </div>
                    {{if is_windows}}
                      </div>
                    {{/if}}
                  {{/if}}
                  {{if next}}
                    <a class="gallery-nav arrow arrow-right" href="#gallery_{{:next_type}}?group={{:group_id}}&id={{:next}}"><img src="img/arrow-right.png"></a>
                  {{/if}}
                </li>
              </ul>
            </div>
          </script>
        </div>

        <!-- Gallery: spinner -->
        <div id="gallery_spinner" class="app gallery_spinner full" data-role="page">
          <header class="app__head">
            <a href="#splash-main" class="app__logo development_logo"><img src="img/ivizzio.logo.png" alt=""></a> <span class="development-name">&nbsp;</span> | <span class="development-location">&nbsp;</span>
          </header>
          <main class="app__main" data-panes="true" role="main" data-role="content">
            <div class="content-wrapper">
              <div class="pane pane--left">
                <div class="pane--content pane--spinner">
                  <div class="frame frame--light">
                    <div class="frame__inner">
                      <!-- content -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <footer class="app__foot icons--grey" data-role="footer" data-position="fixed"></footer>
          </main>

          <script id="template_gallery_spinner" type="text/x-jsrender">
            {{if previous}}
              <a class="gallery-nav arrow arrow-left" href="#gallery_{{:previous_type}}?group={{:group_id}}&id={{:previous}}"><img src="img/arrow-left.png"></a>
            {{/if}}
            <div class="spinner-wrapper">
              <img src="" alt="">
            </div>
            {{if next}}
              <a class="gallery-nav arrow arrow-right" href="#gallery_{{:next_type}}?group={{:group_id}}&id={{:next}}"><img src="img/arrow-right.png"></a>
            {{/if}}
          </script>
        </div>

        <!-- Gallery: video -->
        <div id="gallery_video" class="app gallery_video full" data-role="page">
          <header class="app__head">
            <a href="#splash-main" class="app__logo development_logo"><img src="img/ivizzio.logo.png" alt=""></a> <span class="development-name">&nbsp;</span> | <span class="development-location">&nbsp;</span><span class="header-suffix-wrapper"> | <span class="header-suffix">&nbsp;</span></span>
          </header>
          <main class="app__main" role="main">
            <div class="content-wrapper">
              <!-- content -->
            </div>
          </main>
          <footer class="app__foot" data-role="footer" data-position="fixed"></footer>

          <!-- jsRender templates -->
          <script id="template_video" type="text/x-jsrender">
            <div class="video-player-wrapper">
              <video id="video-player" class="video-player" controls="controls" width="{{:width}}" height="{{:height}}" style="width: {{:width}}px; height: {{:height}}px; padding-top: {{:padding_top}}px;">
                {{props video_links}}
                  <source src="{{:prop}}" type="video/{{:key}}" />
                {{/props}}
                <img src="{{:poster}}" title="Your browser does not support the <video> tag" />
              </video>
            </div>
          </script>
        </div>

        <!-- Lot list -->
		<div id="listing" class="app listing" data-role="page" data-development-id="-1">
			<header class="app__head">
				<a href="#splash-main" class="app__logo development_logo"><img src="img/ivizzio.logo.png" alt=""></a> <span class="development-name">&nbsp;</span> | <span class="development-location">&nbsp;</span>
				<div class="logout-wrapper"></div>
			</header>
			<main class="app__main" data-table="true">
			</main>
			<footer class="app__foot contains_reload"></footer>

			<script id="template_last_update" type="text/x-jsrender">
				<a class="button reload__button"><i class="icon icon--reload"></i></a><span class="reload__message">{{:last_update_label}}: <span class="last-update-date">{{:last_update_date}}</span></span>
			</script>

			<script id="template_listing" type="text/x-jsrender">
				<div class="listing">
					<div class="listing__header">
						<div class="listing__row clearfix">
							<div class="listing__cell listing__head">{{:header.lot}}</div>
							<div class="listing__cell listing__head">{{:header.building}}</div>
							<div class="listing__cell listing__head">{{:header.floor}}</div>
							<div class="listing__cell listing__head">{{:header.rooms}}</div>
							<div class="listing__cell listing__head">{{:header.surface}}</div>
							<div class="listing__cell listing__head">{{:header.availability}}</div>
							<div class="listing__cell listing__action">&nbsp;</div>
						</div>
					</div>
					<div class="listing-body-wrapper">
						<div class="listing__body">
							{{props lots}}
								<div class="listing__row clearfix">
									<div class="listing__cell listing__data">{{:prop.name}}</div>
									<div class="listing__cell listing__data">{{entry_name prop.id /}}</div>
									<div class="listing__cell listing__data">{{floor_ordinal prop.id /}}</div>
									<div class="listing__cell listing__data">{{:prop.pieces}}</div>
									<div class="listing__cell listing__data">{{:prop.surface_weighted}} m<sup>2</sup></div>
									<div class="listing__cell listing__data">{{availability prop.id /}}</div>
									<div class="listing__cell listing__action"><a href="#lot?lot_id={{:prop.id}}" class="button"><i class="icon icon--plan icon--large"></i></a></div>
								</div>
							{{/props}}
						</div>
					</div>
				</div>
			</script>
		</div>

		<!-- Vignettes -->
		<div id="thumbs" class="app thumbs" data-role="page" data-development-id="-1">
			<header class="app__head">
				<a href="#splash-main" class="app__logo development_logo"><img src="img/ivizzio.logo.png" alt=""></a> <span class="development-name">&nbsp;</span> | <span class="development-location">&nbsp;</span>
				<div class="filters clearfix">
				</div>
			</header>
			<main class="app__main" role="main">
				<div class="content-wrapper">
					<div class="vignette-group lots-by-rooms"></div>
					<div class="vignette-group lots-by-floor" style="display: none;"></div>
					<div class="vignette-group lots-by-building" style="display: none;"></div>
				</div>
			</main>
			<footer class="app__foot" data-role="footer" data-position="fixed"></footer>

			<script id="template_vignette_filters" type="text/x-jsrender">
				<a href="#thumbs?view=rooms" class="filter filter-rooms">{{>labels.rooms}}</a>
				<a href="#thumbs?view=floors" class="filter filter-floors">{{>labels.floors}}</a>
				{{if show_building_filter}}
					<a href="#thumbs?view=buildings" class="filter filter-buildings">{{>labels.buildings}}</a>
				{{/if}}
			</script>

			<script id="template_thumbs" type="text/x-jsrender">
				{{for display_order ~lot_ids=lot_ids ~title_suffix=title_suffix ~development=development ~labels=labels}}
					{{if !~isEmptyObject( ~getElement(~lot_ids, #data) )}}
						<section class="property-group">
							<h1 class="property-group__title">{{:#data}}{{>~title_suffix}}</h1>
							<div class="property-scroll-wrapper">
								<ul class="property-list clearfix">
									{{for ~getElement(~lot_ids, #data) ~development=~development ~labels=~labels tmpl="#template_thumbs_row" /}}
								</ul>
							</div>
						</section>
					{{/if}}
				{{/for}}
			</script>

			<script id="template_thumbs_row" type="text/x-jsrender">
				{{for ~flattenLot(~development, #data)}}
					<li class="property-list__item">
						<a href="#lot?lot_id={{>#data.lot_id}}">
							<div class="excerpt">
								<div class="excerpt__image"><img src="{{>#data.thumb}}" alt="{{>#data.lot_code}}"></div>
								<h2 class="excerpt__title">{{:#data.lot_name}} | {{availability #data.lot_id /}}</h2>
								<div class="excerpt__info">{{:~labels.building_short}} {{:#data.building_name}} | {{:#data.floor_ordinal}}</div>
								<div class="excerpt__info">{{:#data.lot_pieces}} {{:~labels.rooms_short}} | {{:#data.surface_weighted}} m<sup>2</sup></div>
							</div>
						</a>
					</li>
				{{/for}}
			</script>
		</div>


		<!-- Lot page -->
		<div id="lot" class="app lot" data-role="page" data-lot-id="-1">
			<header class="app__head">
				<a href="#splash-main" class="app__logo development_logo"><img src="img/ivizzio.logo.png" alt=""></a> <span class="development-name">&nbsp;</span> | <span class="development-location">&nbsp;</span>
			</header>
			<main class="app__main" data-panes="true" role="main">
				<div class="content-wrapper">
					<a href="#" class="button hide-details"><i class="icon icon--close"></i></a>
					<a class="show-details" href="#"><img src="img/arrow-left.png"></a>
					<div class="pane pane--left">
					</div>
					<div class="pane pane--right">
					</div>
				</div>
			</main>
			<footer class="app__foot" data-role="footer" data-position="fixed"></footer>

			<script id="template_lot_left" type="text/x-jsrender">
				{{if plan.detailed_plan_image}}
					<div class="pane--content pane--plan is-active">
						<div class="frame frame--light">
							<div class="frame__inner">
								{{if is_windows}}
									<div class="windows-zoom-wrapper">
								{{/if}}
								<div class="zoom-wrapper">
									<img src="{{get_media_url plan.detailed_plan_image /}}" alt="{{>plan.code}}" width="{{>plan.detailed_plan_image.width}}" height="{{>plan.detailed_plan_image.height}}">
								</div>
								{{if is_windows}}
									</div>
								{{/if}}
							</div>
						</div>
					</div>
				{{/if}}
				{{if plan.image_3d}}
					<div class="pane--content pane--3d">
						<div class="frame frame--light">
							<div class="frame__inner">
								{{if is_windows}}
									<div class="windows-zoom-wrapper">
								{{/if}}
								<div class="zoom-wrapper">
									<img src="{{get_media_url plan.image_3d /}}" alt="{{>plan.code}}" width="{{>plan.image_3d.width}}" height="{{>plan.image_3d.height}}">
								</div>
								{{if is_windows}}
									</div>
								{{/if}}
							</div>
						</div>
					</div>
				{{/if}}
				{{if plan.spinner_3d}}
					<div class="pane--content pane--spinner">
						<div class="frame frame--light">
							<div class="frame__inner">
								<img src="" alt="">
							</div>
						</div>
					</div>
				{{/if}}
				{{if features}}
					<div class="pane--content pane--info">
						<div class="pane__inner">
							<div class="details__body">
								{{:features.content}}
							</div>
						</div>
					</div>
				{{/if}}
			</script>

			<script id="template_lot_right" type="text/x-jsrender">
				<div class="pane__inner">
					<section class="property">
						<div class="property__buttons clearfix">
							{{if plan.detailed_plan_image}}
								<a href="#lot" class="button button--page button--plan is-active"><span class="button__icon"><i class="icon icon--plan"></i></span></a>
							{{/if}}
							{{if plan.image_3d}}
								<a href="#lot" class="button button--page button--3d"><span class="button__icon"><i class="icon icon--3d"></i></span></a>
							{{/if}}
							{{if plan.spinner_3d}}
								<a href="#lot" class="button button--page button--spinner"><span class="button__icon"><i class="icon icon--spinner"></i></span></a>
							{{/if}}
							{{if features}}
								<a href="#lot" class="button button--page button--info"><span class="button__icon"><i class="icon icon--info"></i></span></a>
							{{/if}}
						</div>

						<h1 class="property__title">
							<strong>{{:lot.name}}</strong> | {{availability lot.id /}} <small>{{entry_name lot.id /}} | {{floor_ordinal lot.id /}} | {{:lot.pieces}}&nbsp;{{>labels.rooms}}</small>
						</h1>

						<ul class="property__info">
							{{props areas}}
								<li>{{:prop.label}}: {{:prop.area}} m<sup>2</sup></li>
							{{/props}}
							{{if property_info_explanation}}
								<li class="property_info_explanation">{{:property_info_explanation}}</li>
							{{/if}}
						</ul>

						<div class="property__plan">
							{{if lot.keyplan_image}}
								<img class="floor-keyplan" src="{{get_media_url lot.keyplan_image /}}" alt="{{floor_ordinal lot.id /}}" usemap="#floor_image_map_{{>lot.floor_id}}" />
								{{if coords}}
									<map id="floor_image_map_{{:floor.id}}" class="floor_image_map" name="floor_image_map_{{:floor.id}}">
										{{props coords}}
											<area class="lot-load-link lot-load-link-{{url:key}}" href="#lot?lot_id={{url:key}}" alt="" shape="polygon">
										{{/props}}
									</map>
								{{/if}}
							{{/if}}
						</div>
					</section>
				</div>
			</script>
		</div>

		<!-- shared templates -->
		<script id="template_logout" type="text/x-jsrender">
			<a href="#reload" class="app__reload button button__labelled requires_connection">
				<i class="icon icon--reload"></i>
				<label class="label--reload">{{>labels.refresh}}</label>
			</a>
			<a href="#login" class="app__logout button button__labelled requires_connection">
				<i class="icon icon--logout"></i>
				<label class="label--logout">{{>labels.logout}}</label>
			</a>
		</script>


		<script id="template_footer" type="text/x-jsrender">
			{{if has_reload}}
				<div class="reload"></div>
			{{/if}}
			<div class="button-group clearfix">
				<div class="button-group-content">
					{{if has_lots}}
						<a href="#listing" class="button button__labelled">
							<i class="icon icon--list"></i>
							<label class="label--list">{{>labels.list}}</label>
						</a>
						<a href="#thumbs?view=rooms" class="button button__labelled">
							<i class="icon icon--grid"></i>
							<label class="label--grid">{{>labels.thumbs}}</label>
						</a>
					{{/if}}
					{{if has_gallery}}
						<a href="#gallery" class="button button__labelled">
							<i class="icon icon--gallery"></i>
							<label class="label--gallery">{{>labels.gallery}}</label>
						</a>
					{{/if}}
				</div>
			</div>
		</script>

		<script type="text/javascript" src="cordova.js"></script>
	</body>
</html>
