/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
button,
input,
select,
textarea {
  color: #fff;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   App
   ========================================================================== */
html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 100;
  height: 100%;
  line-height: 1.5;
  position: relative;
}

button {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

input,
textarea {
  -webkit-border-radius: 0;
  border-radius: 0;
}

img {
  height: auto;
  max-width: 100%;
}

::-webkit-input-placeholder {
  color: #939598;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
  color: #939598;
  opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #939598;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #939598;
  opacity: 1;
}





.icon {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.icon--reload {
  background: transparent url('../img/icon--reload.png') no-repeat 0 0;
  background-size: 34px 28px;
  height: 28px;
  width: 34px;
}

.icon--list {
  background: transparent url('../img/icon--list.png') no-repeat 0 0;
  background-size: 36px 32px;
  height: 32px;
  width: 36px;
}

.icon--grid {
  background: transparent url('../img/icon--grid.png') no-repeat 0 0;
  background-size: 33px 32px;
  height: 32px;
  width: 33px;
}

.icon--over {
  background: transparent url('../img/icon--over.png') no-repeat 0 0;
  background-size: 38px 32px;
  height: 32px;
  width: 38px;
}

.icon--plan {
  background: transparent url('../img/icon--plan.png') no-repeat 0 0;
  background-size: 21px 21px;
  height: 21px;
  width: 21px;
}

.icon--plan.icon--large {
  background-image: url('../img/icon--plan--large.png');
  background-size: 33px;
  height: 33px;
  width: 33px;
}

.icon--info {
  background: transparent url('../img/icon--info.png') no-repeat 0 0;
  background-size: 25px 24px;
  height: 24px;
  width: 25px;
}

.icon--3d {
  background: transparent url('../img/icon--3d.png') no-repeat 0 0;
  background-size: 25px;
  height: 25px;
  width: 25px;
}




.button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  position: relative;
}

.button__icon {
  display: inline-block;
  text-align: center;
}

.button--page {
  background: transparent url('../img/bg-button--page.png') no-repeat 0 0;
  background-size: 50px 63px;
  height: 63px;
  width: 50px;
}
.button--info.is-active {
  background-image: url('../img/bg-button--info-is-active.png');
}

.button--plan.is-active {
  background-image: url('../img/bg-button--plan-is-active.png');
}

.button--3d.is-active {
  background-image: url('../img/bg-button--3d-is-active.png');
}


.app {
  background: #0c0e10 url('../img/bg-app.jpg') no-repeat 50% 50%;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.app__head {
  border: none;
  height: 48px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.app__logo {
  display: inline-block;
  height: 35px;
  margin-top: 5px;
  margin-left: 6px;
  width: 90px;
}

.app__main {
  bottom: 60px;
  overflow-y: scroll;
  position: absolute;
  top: 48px;
  width: 100%;
}

.app__main[data-panes="true"] {
  bottom: 0;
  top: 0;
}

.app__main[data-table="true"] {
  top: 98px;
}

.app__foot {
  background: rgba(2,5,9,.56);
  border: none;
  bottom: 0;
  height: 60px;
  position: fixed;
  width: 100%;
}




.listing {
  color: #eaffff;
  display: table;
  width: 100%;
}

.listing__header {
  position: fixed;
  top: 48px;
  width: 100%;
}

.listing__row + .listing__row {
  margin-top: 3px;
}

.listing__body .listing__row {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(25,27,40,0.38)), color-stop(29%,rgba(25,27,40,0.31)), color-stop(100%,rgba(25,27,40,0.06))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(25,27,40,0.38) 0%,rgba(25,27,40,0.31) 29%,rgba(25,27,40,0.06) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to right,  rgba(25,27,40,0.38) 0%,rgba(25,27,40,0.31) 29%,rgba(25,27,40,0.06) 100%); /* W3C */
}

.listing__body .listing__row:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,27,40,0.5)), color-stop(29%,rgba(0,15,40,0.31)), color-stop(100%,rgba(25,27,40,0.06))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,27,40,0.5) 0%,rgba(0,15,40,0.31) 29%,rgba(25,27,40,0.06) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to right,  rgba(0,27,40,0.5) 0%,rgba(0,15,40,0.31) 29%,rgba(25,27,40,0.06) 100%); /* W3C */
}

.listing__cell {
  float: left;
  height: 50px;
  line-height: 50px;
  position: relative;
  white-space: nowrap;
  text-align: center;
}

.listing__cell:before {
  background: rgba(0,0,0,.18);
  bottom: 0;
  content: "";
  height: 53px;
  left: 0;
  position: absolute;
  width: 1px;
}

.listing__cell:nth-child(1) {
  width: 11.5%;
}

.listing__body .listing__row:hover .listing__cell:nth-child(1) {
  font-weight: bold;
}

.listing__cell:nth-child(2) {
  width: 14.5%;
}

.listing__cell:nth-child(3) {
  width: 14.5%;
}

.listing__cell:nth-child(4) {
  width: 14.5%;
}

.listing__cell:nth-child(5) {
  width: 14.5%;
}

.listing__cell:nth-child(6) {
  width: 14.5%;
}

.listing__cell:nth-child(7) {
  width: 16%;
}

.listing__body .listing__row:hover .listing__cell:nth-child(7) {
  background: rgba(57,36,35,.3);
}

.listing__row .button {
  visibility: hidden;
}
.listing__row:hover .button {
  visibility: visible;
}




.reload {
  float: left;
  margin-left: 37px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.reload__button {
  display: inline-block;
  margin-right: 20px;
  opacity: .66;
  vertical-align: middle;
}

.reload__message {
  color: rgba(255,255,255,.38);
  font-size: 12px;
}





.button-group {
  float: right;
  height: 32px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 27.34375%;
}
.button-group .button {
  float: left;
  margin-right: 13px;
  opacity: .42;
}
.button-group .button:hover {
  opacity: .79;
}



.project-view-logo {
  background: pink;
  height: 23px;
  width: 117px;
}




.login-form {
  margin: 214px auto 0;
  position: relative;
  width: 382px;
}

.login-form__logo {
  margin: 0 auto 28px;
}

.login-form__item {
  margin-bottom: 25px;
}

.login-form__text {
  background: #fff;
  border: none;
  color: #939598;
  height: 50px;
  padding: 0 15px;
  width: 100%;
}




.loader {
  margin-top: 213px;
  text-align: center;
}

.loader__logo {
  margin: 0 auto 15px;
}

.loader__message {
  margin-bottom: 15px;
}

.loader__spinner {
  background: pink;
  height: 112px;
  margin: 0 auto 13px;
  width: 112px;
}

.loader__status {
  color: rgba(0,0,0,.59);
  line-height: 1.2;
  margin-bottom: 15px;
}

.loader__percentage {
  display: block;
}




.selector {
  padding-top: 262px;
  position: relative;
  text-align: center;
}

.selector__logo {
  left: 50%;
  position: absolute;
  top: 26px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.selector__item {
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.18);
  display: inline-block;
  margin: 0 24px;
  vertical-align: top;
}

.selector__link {
  background: #fff;
  display: block;
  height: 155px;
  line-height: 155px;
  overflow: hidden;
  width: 155px;
}




.frame {
  background: #fff;
  height: 100%;
  position: relative;
  text-align: center;
  z-index: 99;
}

.frame__inner {
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.frame__inner:after {
  box-shadow: 1px 2px 42px 0px rgba(0, 0, 0, 0.66) inset;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.frame--light .frame__inner:after {
  box-shadow: 1px 2px 36px 0px rgba(0, 0, 0, 0.43) inset;
}

.frame__inner img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

}




.gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery__group {
  background: rgba(0,0,0,.3);
  overflow-x: scroll;
  padding: 10px 0 15px 25px;
}

.gallery__group + .gallery__group {
  margin-top: 7px;
}

.gallery__title {
  font-size: 12px;
  font-weight: 100;
  margin: 0 0 8px;
}

.gallery__images {
  font-size: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.gallery__image {
  display: inline-block;
  font-size: 16px;
}

.gallery__image + .gallery__image {
  margin-left: 18px;
}



.pane {
  bottom: 0;
  position: absolute;
  top: 0;
}

.pane--left {
  background: rgba(0,0,0,.37);
  left: 0;
  width: 68.2617188%;
}

.pane--right {
  right: 0;
  width: 31.7382812%;
}

.pane__inner {
  bottom: 60px;
  overflow: hidden;
  position: absolute;
  top: 48px;
  width: 100%;
}





.details__body {
  font-size: 15px;
  line-height: 1.6;
  padding: 0 24px;
}

.details__body section + section {
  margin-top: 50px;
}

.details__body h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 1.25;
  margin: 0 0 10px;
}

.details__body ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 30px;
}

.details__body ul li {
  margin-bottom: 10px;
}

.details__body ul li:before {
  content: "•";
  display: inline-block;
}



.lot a.hide-details,
.lot a.show-details {
  z-index: 999;
  position: absolute;
}
.lot a.hide-details {
	right: 18px;
	top: 14px;
}
.lot a.show-details {
	right: 0;
	top: 50%;
	margin-top: -70px;
	display: none;
}

.lot.full a.hide-details {
	display: none;
}
.lot.full a.show-details {
	display: block;
}

.lot.full .pane--left {
	width: 100%;
}
.lot.full .pane--right {
	display: none;
}



.property {
  padding-left: 45px;
  padding-right: 45px;
}

.property__buttons {
  margin-top: 6px;
  margin-bottom: 60px;
}

.property__buttons .button {
  float: left;
}

.property__buttons .button + .button {
  margin-left: 15px;
}

.property__title {
  font-size: 24px;
  font-weight: 100;
  line-height: 1.5;
  margin: -1px 0 16px;
}

.property__title strong {
  font-weight: 300;
}

.property__title small {
  display: block;
  font-size: 18px;
  line-height: 1.555555556;
}

.property__info {
  font-size: 15px;
  line-height: 1.466666667;
  list-style-type: none;
  margin: 0 0 35px -45px;
  padding: 0;
}

.property__info li {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(45,73,109,0.16)), color-stop(27%,rgba(45,73,109,0.13)), color-stop(82%,rgba(45,73,109,0.02)), color-stop(100%,rgba(45,73,109,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(45,73,109,0.16) 0%,rgba(45,73,109,0.13) 27%,rgba(45,73,109,0.02) 82%,rgba(45,73,109,0) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to right,  rgba(45,73,109,0.16) 0%,rgba(45,73,109,0.13) 27%,rgba(45,73,109,0.02) 82%,rgba(45,73,109,0) 100%); /* W3C */
  margin-bottom: 2px;
  padding-left: 40px;
}

.property__plan {
  margin-left: -15px;
}




.filters {
  float: right;
  font-size: 15px;
  margin-right: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.filter {
  color: #fff;
  float: left;
  text-decoration: none;
}

.filter:before {
  content: "|";
  display: inline-block;
  margin: 0 7px;
}

.filter:first-of-type:before {
  display: none;
}




.property-group {
  background: rgba(0,0,0,.3);
  overflow-x: scroll;
  padding-left: 25px;
  padding-bottom: 16px;
  padding-top: 18px;
}

.property-group + .property-group {
  margin-top: 8px;
}

.property-group__title {
  color: #bcbec0;
  font-size: 12px;
  margin: 0 0 8px;
}

.property-list {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.property-list__item {
  display: inline-block;
  font-size: 16px;
}

.property-list__item + .property-list__item {
  margin-left: 20px;
}

.excerpt {
  width: 136px;
}

.excerpt__image {
  margin-bottom: 5px;
  height: 143px;
  width: 136px;
}

.excerpt__title {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.357142857;
  margin: 0;
}

.excerpt__info {
  color: #d5d7d8;
  font-size: 12px;
  line-height: 1.166666667;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
  *zoom: 1;
}