@import "compass/css3";
@import 'compass/css3/filter';
@import "sassybuttons";

@import url('font-awesome.css');

$color1: #7AC043;
$color2: #2BA6CB;
$color3: #e83d35;

$bouncy1: #e24f3d; // red
$bouncy2: #2caae1; // blue
$bouncy3: #878787; // light grey
$bouncy4: #373737; // dark grey

html, body {
	height: 100%;
}
body {
	background: #eaeaea url('../img/bg/bg1.png') top left repeat;
	color: #666;
	
	div, dl, dt, dd, ul, ol, li, pre, form, p, blockquote, th, td {
		font-size: inherit;
		font-family: inherit;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: inherit;
	}
}
img {
	border: none;
}
::-webkit-input-placeholder{
	color: #e0e0e0;
}
::-moz-selection{background-color: $bouncy1; color: #fff;}
::-webkit-selection{background-color: $bouncy1; color: #fff;}
::selection{background-color: $bouncy1; color: #fff;}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}

a {
	color: $bouncy4;
	@include single-transition(color, 0.3s, ease-in-out);
}

a:hover {
	color: $bouncy1;
}
a:focus {
	color: inherit;
}

/* Content */
#wrapper {
	min-height: 100%;
	background: #fff;
	.boxed & {
		max-width: 1230px;
		margin: 0 auto;
		@include box-shadow(2px 0 8px rgba(0,0,0,0.15));
	}
}
[role="main"] {
	padding: 100px 0 0;
	
	.blog,
	.portfolio-container,
	.sidebar,
	.fullwidth {
		padding-top: 30px;
	}
	.notfixed &{
		padding: 0;
	}
}
/* Header */
#header  {
	width: 100%;
	height: 100px;
	background: #fff;
	z-index: 200;
	overflow: visible !important;
	@include box-shadow(0 1px 1px 0 rgba(0, 0, 0, .1));
	
	.boxed & {
		max-width: 1230px;
		margin: 0 auto;
		
		&.fixed {
			left: auto;
		}
	}
	.notfixed & {
		position: relative;	
	}
	&.fixed {
		& + [role="main"] {
			padding-top: 80px;
			
			.admin-bar & {
				padding-top: 98px;
			}
		} 
		
		&.small {
			& + .headersearch {
				top: 50px !important;
				.admin-bar & {
					top: 78px !important;
				}
			}
			.logo {
				h1 {
					line-height: 50px;
					margin: 0;
				}
				a{
					height: 40px;
					margin: 5px 0;
				}
			}
		}
		
		.admin-bar & {
			top: 28px;
		}
	}
	.logo {
		height: 100%;
		h1 {
			font-size: 24px;
			line-height: 100px;
			margin: 0;
		}
		&>a {
			display: block;
			height: 80px;
			margin: 10px 0;
			img{
				max-height: 100%;
			}
			
			&.hide-logo {
				display: block;
			}
			&.show-logo {
				display: none;
			}
		}
		
	}
	.mobile-menu-toggle {
		height: 100%;
		display: none;
		cursor: pointer;
		i {
			display: block;
			border: 1px solid #ebebeb;
			float: right;
			font-size: 16px;
			line-height: 30px;
			margin-top: 10px;
			text-align: center;
			width: 35px;
			height: 30px;
			@include border-radius(3px);
		}
	}
	.searchlink {
		float: right;
		width: 40px;
		padding: 15px 0;
		text-align: right;
		font-weight: 800;
		font-size: 20px;
		margin-top: 25px;
		cursor: pointer;
		position: relative;
		
		&:after {
			content:'';
			display: block;
			height: 13px;
			width: 0;
			position: absolute;
			left: 0;
			top: 20px;
			border-left: 1px solid #d4d4d4;
		}
		
		&:hover,
		&.open {
			color: $bouncy1;
		}
	}
}

.headersearch {
	width: 100%;
	background: #fff;
	height: 0;
	overflow: hidden;
	top: 100px;
	z-index: 100;
	@include box-shadow(0 1px 1px 0 rgba(0, 0, 0, .1));
	.admin-bar & {
		top: 128px;
	}
	.admin-bar.notfixed & {
		top: 100px;
	}
	.boxed & {
		max-width: 1230px;
		margin: 0 auto;
		left: auto;
	}
	.notfixed & {
		position: absolute !important;
	}
	.row,
	.columns,
	form,
	fieldset {
		height: 100%;
	}
	form {
		margin: 0;
		
		fieldset {
			padding: 0;
			border: 0;
			margin: 0;
			position: relative;
			overflow: hidden;
			&:after {
				font-family: 'FontAwesome';
				content: "\f002";
				position: absolute;
				color: #e0e0e0;
				top: 20px;
				left: 0px;
				font-size: 40px;
			}
			input{
				border: 0;
				margin: 10px 0;
				padding: 0 0 0 50px;
				background: none;
				color: #e0e0e0;
				font-size: 40px;
				height: 60px;
				@include box-sizing(border-box);
				@include box-shadow(none);
				
				&:focus {
					background: none;
					outline: 0;
					
					@include box-shadow(none);
				}
				&::-webkit-input-placeholder {
					font-weight: 700;
				}
			} 
		}
	}
}
#breadcrumb {
	background: #efefef;
	width: 100%;
	padding: 20px 0;
	font-size: 12px;
	.breadcrumb {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			
			li {
				display: block;
				float: left;
				margin-right: 10px;
				
				&:first-child {
					margin-right:15px
				}
				
				a {
					font-weight: 600;
				}
				
				i {
					margin-right: 5px;
				}
			}
		}
	}
	.name {
		text-transform: uppercase;
		text-align: right;
		font-weight: 600;
		padding-top: 4px;
		color: $bouncy4;
	}
}

/* Reusable Styles */
form {
	margin: 0;
	
	fieldset {
		padding: 0;
		margin: 0;
		border: 0;
	}
}
.btn,
input[type=submit],
.comment-reply-link {
	
	font-size: 11px;
	font-weight: 800;
	padding: 8px 13px;
	margin-bottom: 3px;
	display: inline-block;
	cursor: pointer;
	border: 0;
	color: #fff;
	background: #2c2c2c;
	text-transform: uppercase;
	@include border-radius(3px);
	@include single-transition(all, 0.4s, ease-in-out);
	
	i {
		display: inline-block;
		margin-right: 5px;
		width: 15px;
	}
	
	&:hover {
		color: #fff;
		background: $bouncy1;
	}
	
	&.blue {
		background: $bouncy2;
		
		&:hover {
			background: darken($bouncy2, 10%);
		}
	}
	
	&.red {
		background: $bouncy1;
		
		&:hover {
			background: #2c2c2c;
		}
	}
	
	&.green {
		background: #3eb206;
		
		&:hover {
			background: darken(#3eb206, 10%);
		}
	}
	
	&.purple {
		background: #b50eb3;
		
		&:hover {
			background: darken(#b50eb3, 10%);
		}
	}
	
	&.pink {
		background: #e8186b;
		
		&:hover {
			background: darken(#e8186b, 10%);
		}
	}
	
	&.grey {
		background: #7c7c7c;
		
		&:hover {
			background: darken(#7c7c7c, 10%);
		}
	}
	
	&.smoked {
		background: #6c82a7;
		
		&:hover {
			background: darken(#6c82a7, 10%);
		}
	}
	
	&.brown {
		background: #673724;
		
		&:hover {
			background: darken(#673724, 10%);
		}
	}
	
	&.yellow {
		background: #ffba00;
		
		&:hover {
			background: darken(#ffba00, 10%);
		}
	}
	
	&.darkblue {
		background: #383d81;
		
		&:hover {
			background: darken(#383d81, 10%);
		}
	}
	
	&.bordeaux {
		background: #0eafb5;
		
		&:hover {
			background: darken(#0eafb5, 10%);
		}
	}
	
	&.medium {
		padding: 13px 16px;
		font-size: 12px;
	}
	&.large {
		padding: 15px 20px;
		font-size: 13px;
	}
	&.rounded {
		@include border-radius(100px);
	}
	
	.wpcf7 & {
		width: 100%;
		margin-top: 0;
	}
}

.cf:before, .cf:after {
    content: " ";
    display: table; 
}
.cf:after {
    clear: both;
}
/* Forms */
input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
textarea {
	border: 1px solid #d1d1d1;
	padding: 12px;
	height: 40px;
	margin-bottom: 25px;
	color: $bouncy3;
	font-size: 13px;
	@include border-radius(0);
	@include box-shadow(none);	
	@include single-transition(all, 0.4s, ease-in-out);
	
	&:focus {
		background: #fff;
		border-color: #72b8dc;
		outline: 0;
		@include box-shadow((inset 0 1px 1px rgba(0,0,0,0.1)), (0 0 6px rgba(187,231,248,0.7)));
	}
	
	&.parsley-error,
	&.wpcf7-not-valid {
		border-color: $bouncy1;
		@include box-shadow((inset 0 1px 1px rgba(0,0,0,0.1)), (0 0 6px rgba(226,79,61,0.7)));
	}
}
.parsley-error-list,
.wpcf7-not-valid-tip {
	display: none !important;
}
textarea{
	height: 200px;
	
	.wpcf7 & {
		height: 120px;
	}
}
label {
	color: $bouncy3;
	margin-bottom:15px;
}
.form-submit input[type=submit] {
	padding: 13px 20px;
}
/* Top Bar */
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}
.sf-menu {
	float: right;
	height: 50px;
	margin: 25px 0;
	
	.small & {
		margin: 0;
	}
}
.sf-menu ul {
	min-width: 12em;
}
.sf-menu li {
	white-space: nowrap;
	&:hover, 
	&.sfHover {
		background: #2c2c2c;
		
		& > a {
			color: #fff;
			
			&:after {
				display: none;
			}
		}
		+ li {
			& > a {
				&:after {
					display: none;
				}
			}
		}
	}
	&.current-menu-item {
		background: $bouncy1;
		
		& > a {
			color: #fff;
			&:after {
				display: none;
			}
		}
		+ li {
			& > a {
				&:after {
					display: none;
				}
			}
		}
	}
	&.first-menu-item {
		& > a {
			&:after {
				display: none;
			}
		}
	}
	a {
		padding: 15px 20px;
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
		color: #717171;
	}
	
	& > a {
		position: relative;
		&:after {
			content:'';
			display: block;
			height: 13px;
			width: 0;
			position: absolute;
			left: 0;
			top: 20px;
			border-left: 1px solid #d4d4d4;
		}
	}
	ul li {
		background: #2c2c2c;
		
		&:hover {
			background: #272727;
			
		}
		
		a {
			font-size: 11px;
			color: #808080;
			
			&:hover {
				color: #fff;
			}
			&:after {
				display: none;
			}
		}
	}
}
/* Mobile Menu */
.mobile-menu {
	display: none;
	background: #272727;
	padding: 15px 0 30px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			
			span {
				float: right;
				margin-right: 20px;
				font-weight: 400;
				font-size: 20px;
				line-height: 1;
			}
			a {
				display: block;
				padding: 15px 0;
				font-size: 13px;
				font-weight: 600;
				text-transform: uppercase;
				color: #717171;
				@include single-transition(all, 0.4s, ease-in-out);
				&.active {
					color: $bouncy1;
					
					span {
						color: $bouncy1;
					}
				}
			}
			border-bottom: 1px solid #323232;
		}
		
		.sub-menu {
			display: none;
			li {
				border-top: 1px solid #323232;
				border-bottom: 0;
				
				a {
					padding-left: 20px;
					text-transform: none;
					font-size: 12px;
					font-weight: 500;
				}
			}
		}
	}
		
	input,
	input:focus {
		border: none;
		background: #323232;
		margin: 10px 0 20px 0;
		color: #717171;
		@include box-shadow(none);
		
		&::-webkit-input-placeholder {
			color: #717171;
		}
		&:-moz-placeholder {
			color: #717171;
		}
	}
}
/* Post */
.post {
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dfdfdf;
	
	&>.row {
		.two.columns {
			width: 12%;
		}
		.ten.columns {
			width: 88%;	
		}
	}
	.post-date {
		border: 2px solid #ebebeb;
		text-align: center;
		padding-top: 15px;
		margin-top: 5px;
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		float: left;
		color: $bouncy4;
		.date,
		.commentcount {
			float: left;
			width: 100%;
		}
		.date {
			margin-bottom: 15px;
			font-weight: 800;
			span,
			small {
				float: left;
				display: block;
				width: 100%;
				text-align: center;
			}
			small {
				font-size: 30px;
			}
		}
		
		.commentcount {
			padding-top: 15px;
			padding-bottom: 15px;
			
			border-top: 2px solid #ebebeb;
			color: #c9c9c9;
			font-size: 13px;
			i {
				margin-right: 5px;
			}
			a {
				color: $bouncy3;
			}
		}
		
	} 
	.post-gallery {
		margin-bottom: 20px;


		img {
			
			.thbportfolio &,
			.relatedposts & {
				width: 100%;
				max-width: 100%;
			}
		}
		
		&.shapes {
			margin-bottom: 30px;
		}
		&.flex-video {
			padding-bottom: 50%;
		}
		
		&.quote {
			background: #cbcbcb;
			padding: 30px 30px 30px 90px;
			position: relative;
			
			&:before {
			  display: block;
			  font-size: 80px;
			  content: "\201C";
			  position: absolute;
			  top: 20px;
			  left: 23px;
			  font-weight: 600;
			  color: #e0e0e0;
			  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
			}
			blockquote {
				border: 0;
				margin: 0 0 10px 0;
				padding: 0;
				color: #fff;
				font-size: 28px;
				line-height: 34px;
				font-weight: 700;
				
				&:after {
					content: '';
				}
			}
			small {
				text-align: right;
				font-size: 16px;
				width: 100%;
				color: #fff;
				line-height: 30px;
				display: block;
			}
		}
		&.link {
			background: #cbcbcb;
			position: relative;
			@include single-transition(all, 0.4s, ease-in-out);
			
			&:before {
			  display: block;
			  font-size: 30px;
			  content: "\f0c1";
			  position: absolute;
			  top: 34px;
			  left: 30px;
			  font-weight: 600;
			  color: #e0e0e0;
			  font-family: 'FontAwesome';
			}
			&:hover {
				background: $bouncy1;
			}
			a {
				display: block;
				padding: 30px 30px 30px 90px;
				font-size: 28px;
				line-height: 34px;
				font-weight: 700;
				color: #fff;
			}
		}
	}
	.post-title {
		clear: both;
		width: 100%;
		h2 {
			margin: 0 0 12px 0;
			font-size:  28px;
			font-weight: 600;
			display: block;
			float: left;
			max-width: 80%;
			
			+ .likeThis {
				float: right;
				font-size: 14px;
				line-height: 30px;
				i {
					font-size: 18px;
				}
			}
			
		}
		h3 {
			margin: 0 0 15px 0;
			font-size:  18px;
			font-weight: 600;
			display: block;
			float: left;
			max-width: 80%;
			.likeThis {
				float: right;
				line-height: 19px;
			}
		}
		.meta {
			border-top: 0;
			margin-top: 0;
			padding-top: 0;
			margin-bottom: 25px;
			width: auto;
			clear: left;
		}
		+ .meta {
			margin-top: 0;
		}
	}
	.post-content {
		line-height: 1.6;
		
		ul, ol {
			list-style-position: inside;
		}
		h1 {
			font-size: 34px;
		}
		h2 {
			font-size: 28px;
		}
		h3 {
			font-size: 20px;
		}
		h4 {
			font-size: 24px;
			font-weight: 500;
			color: $bouncy4;
			text-transform: uppercase;
		}
		h5 {
			font-size: 16px;
			line-height: 22px;
			color: $bouncy3;
			font-weight: 400;
		}
		h6 {
			display: inline-block;
			text-align: center;
			padding-bottom: 10px;
			margin-bottom: 30px;
			font-weight: 800;
			color: $bouncy4;
			text-transform: uppercase;
			border-bottom: 2px solid #ebebeb;
		}
	}
	.more-link {
		margin-top: 0px;
	}

	.fullwidth &,
	&.page {
		border: 0;
	}
	.portfolio-container &,
	.relatedposts & {
		border: 0;
		padding: 0;
		margin-bottom: 20px;
	}
	.single-portfolio & {
		padding-bottom: 0;
		border: 0;
		float: left;
		width: 100%;
		.post-content {
			padding-bottom: 50px;
			border-bottom: 1px solid #dfdfdf;
		}
	}
}
/* Blog - Masonry */
.page-template-template-blog-masonry-php [role="main"] {
	background: #f9f9f9;
	padding-bottom: 50px;
	
	.pagenavi {
		margin-top: 50px !important;
		margin-bottom: 0 !important;
		
		ul {
			text-align: center !important;
		}
	}
}
.blog.masonry {
	overflow: visible !important;
	
	[class*="column"]+[class*="column"]:last-child {
		float: left;
	}
	.postcontainer {
		background: #fff;
		padding: 20px;
		margin-bottom: 30px;
		@include box-shadow(0 1px 1px rgba(0,0,0,0.15));
		.post {
			margin: 0;
			padding: 0;
			border: 0;
			
			.masonry-date {
				font-size: 12px;
				margin-bottom: 15px;
			}
			.post-title {
				h2 {
					font-size: 22px;
					text-transform: uppercase;
					font-weight: 700;
				}
			}
			.post-gallery.link,
			.post-gallery.link:hover,
			.post-gallery.quote {
				background: none;
			}
			
			.post-gallery.link {
				&:before {
					font-size:22px;
					color: $bouncy4;
					top: 3px;
					left: 0;
				}	
				a {
					padding: 0 0 0 30px;
					color: $bouncy4;
					font-size: 22px;
					text-transform: uppercase;
					line-height: 1;
				}	
			}
			.post-gallery.quote {
				padding: 0 0 0 40px;
				&:before {
					font-size:60px;
					color: $bouncy4;
					top: -5px;
					left: 0;
				}	
				blockquote {
					line-height: 1;
					color: $bouncy4;
					font-size: 22px;
					text-transform: uppercase;
				}	
				small {
					color: $bouncy3;
					font-size: 14px;
				}
			}
		}
		.meta {
			border-top: 0;
			margin-top: 10px;
			padding-top: 0;
		}
	}
}
#loadmore {
	margin-top: 40px;
	
	i {
		margin: 0 0 0 5px;
	}
}
/* Likes */
.likeThis {
	float: right;
	i {
		color: #c9c9c9;
		font-size: 13px;
		margin-right: 5px;
		vertical-align: middle;
		
		@include single-transition(all, 0.4s, ease-in-out);
	}
	span {
		color: $bouncy3;
		vertical-align: middle;
	}
	
	&.active {
		i {
			color: $bouncy1;
		}
	}
}
/* Page Specific */
.sitemap {
	.post .post-content h3 {
		font-size: 14px;
	}
}
#contact-map {
	width: 100%;
	height: 500px;
}

/* Image Hover */
.fresco {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 0;
	
	img {
		width: 100%;
		max-width: 100%;
	}
	
	&.shapes {
		h3,
		.excerpt {
			color: #fff;
			@include opacity(0);
			
		}
		h3 {
			display: block;
			text-align: center;
			font-size: 16px;
			font-weight: 600;
			width: 80%;
			position: absolute;
			top:  35%;
			left: 10%;
			@include single-transition(all, 0.2s, ease-in-out);
		}
		&:hover {
			h3 {
				top:  25%;
				@include opacity(1);
			}
		}
		.overlay {
			.details,
			.zoom {
				
			}
			&:hover {
				.zoom,
				.details{
					
					top: 63%; 
				}
			}
		}
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: transparent;
		overflow: hidden;
		z-index: 20;
		@include single-transition(all, 0.2s, ease-in-out);
		.zoom,
		.details,
		.email {
			display: block;
			
			color:#fff;
			background: #333;
			padding: 0;
			height: 54px;
			width: 54px;
			line-height: 52px;
			color: #fff;
			font-weight: 800;
			font-size: 20px;
			text-transform: uppercase;
			position: absolute;
			text-align: center;
			top: 80%;
			margin-top: -27px;
			z-index: 40;
			@include border-radius(27px);
			@include opacity(0);
			@include translateZ(0);
			i {
				margin: 0;
			}
			&:hover {
				color: $bouncy4;
				background: #fff;
			}
		}
		.shape {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 30;
		}
		.details {
			left: 51%;
			@include transition(top 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s, background-color 0.2s ease-in-out, color 0.2s ease-in-out);
		}
		.email {
			left: 50%;
			margin-left: -27px;
			@include transition(top 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s, background-color 0.2s ease-in-out, color 0.2s ease-in-out);
		}
		.zoom {
			right: 51%;
			@include transition(top 0.4s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out);
		}
	}
	
	&:hover {
		.overlay {
			background-color: rgba(226,79,61,0.8);
			
			.details,
			.zoom,
			.email {
				top: 50%;
				@include opacity(1);
			}
		}
	}
	

}
/* Pagination */
.pagenavi {
	margin-bottom: 55px !important;
	ul {
		list-style: none;
		float: right;
		text-align: right;
		
		&.center {
			text-align: center;
		}
		li {
			display: inline-block;
			margin-right: 5px;
			font-size: 12px;
			font-weight: 600;
			a {
				display: inline-block;
				text-align: center;
				width: 26px;
				height: 26px;
				line-height: 26px;
				font-size: 12px;
				font-weight: 600;
				background: #cbcbcb;
				color: #fff;
				@include border-radius(3px);
				@include single-transition(all, 0.2s, ease-in-out);
				&:hover {
					background: $bouncy1;
					color: #fff;
				}
			}
			&.disabled {
				a {
					background: $bouncy1;
					color: #fff;
				}	
			}
			&.arrow {
				a {
					background: #292929;
					color: #fff;
				}
			}
		}
	}
}
.meta {
	display: block;
	float: left;
	width: 100%;
	font-size: 11px;
	text-align: left;
	text-transform: uppercase;
	padding-top: 10px;
	margin-top: 15px;
	border-top: 1px solid #ebebeb;
	
	a {
		font-weight: 600;
	}
	&.portfolio {
		border: 0;
		margin: 0;
		padding: 30px 0 15px;
		
		.social {
			margin: 0;
		}
		.likeThis {
			float: left;
			font-size: 14px;
			line-height: 40px;
			
			i {
				font-size: 18px;
			}
		}
	}
	.social {
		float: right;
		margin: 10px 0 0;
		padding: 0;
		list-style: none;
		li {
			font-size: 13px;
			color: $bouncy4;
			font-weight: 600;
			line-height: 40px;
			float: left;
			margin-left: 2px;
			span {
				padding-right: 10px;
			}
			a {
				display: block;
				width: 40px;
				height: 40px;
				text-align: center;
				color: #717171;
				background: #f4f4f4;
				
				@include single-transition(all, 0.2s, ease-in-out);
				
				&:hover {
					color:#fff;
				}
				
				&.twitter:hover {
					background: #2caae1;
				}
				&.facebook:hover {
					background: #3b5998;
				}
				&.googleplus:hover {
					background: #dd4a38;
				}
				&.pinterest:hover {
					background: #ca222e;
				}
				&.linkedin:hover {
					background: #006699;
				}
			}
		}
	}
}
/* Pricing Tables */
.pricing {
	text-align: center;		
	
	&.two-cols {
		.columns {
			width: 50%;
		}
	}
	&.three-cols {
		.columns {
			width: 33.33333%;
		}
	}
	&.four-cols {
		.columns {
			width: 25%;
		}
	}
	&.five-cols {
		.columns {
			width: 20%;
		}
	}

	.item {
		border: 1px solid #ebebeb;
		margin-top: 22px;
		margin-bottom: 30px;
		
		@include box-shadow(0 2px 2px rgba(0,0,0,0.03));
		
		&.featured {
			margin-top: 0;
			.header {
				background: $bouncy1;
				
				h2 {
					color: #fff;
					border-color: $bouncy1;
				}
			}
		}
		
		.header {
			
			h2 {
				display: block;
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
				border-bottom: 1px solid #ebebeb;
				padding: 20px 0;
				margin: 0;
				span {
					display: block;
					color: rgba(0,0,0,0.4);
					font-size: 12px;
					font-weight: 800;
					margin-top: 10px;
				}
			}
	  }
		.price {
			padding: 25px 0;
			border-bottom: 1px solid #ebebeb;
			
			h4 {
				font-size: 12px;
				font-weight: 400;
				text-transform: uppercase;
				color: #717171;
				span {
					font-size: 60px;
					font-weight: 600;
					display: block;
					color: $bouncy4;
					b {
						font-size: 20px;
						font-weight: 400;
						line-height: 60px;
						vertical-align: middle;
						margin-right: 5px;
					}
				}
			}
		}
		
		ul {
			list-style: none;
			margin: 0;
			li {
				border-bottom: 1px solid #ebebeb;
				padding: 12px 0;
				
				&:nth-child(odd) {
					background: #fafafa;
				}
			}
			
		}
		.footer {
			padding: 40px 0;
			
			.btn {
				padding: 13px 20px;
			}
		}	
	}
}
/* Google Maps fix */
.google_map img { 
	max-width: none; 
	height: auto 
}

/* CTA */
.panel.radius {
	@include box-shadow((inset 0 1px 0 rgba(255,255,255,0.2)),(0 1px 6px rgba(100,100,100,.4)));
	&.grey {
		background: #f5f5f5;
		border-color: darken(#f5f5f5, 20%);	
	}
	
	&.darkgrey {
		background: #595959;
		border-color: darken(#595959, 10%);
		color: #e5e5e5;
		h1, h2, h3, h4, h5 {
			color: #fff !important;
		}
	}
	&.green {
		background: $color1;
		border-color: darken($color1, 10%);
		color:  lighten($color1, 45%);
		h1, h2, h3, h4, h5 {
			color: #fff !important;
		}
	}
}
/* Toggle */
.toggle{
	margin-bottom:20px;
	
	.title{
		padding:9px 15px;
		position:relative; 
		cursor:pointer; 
		border:1px solid #e2e2e2; 
		background:#fafafa;
		color: #3C3C3C;
		font-weight: 400;
		color: $bouncy3;
		font-size: 13px;
		
		
		&:after {
			font-family: 'FontAwesome';
			content: "\f116";
			position: absolute;
			color: #5b5b5b;
			top: 3px;
			right: 17px;
			font-size: 20px;
			border: 0;
		}
		
		&.toggled { 
			background: #fff;
			color: #5b5b5b;
			
			&:after {
				content: "\f117";
			}
		}
		
	}
	
	.inner{
		display:none;
		border:1px solid #E6E6E6; 
		border-top:none; 
		padding: 15px;
		overflow:hidden;
		background:#fff;
	}
} 
/* Labels */
.label {
	bottom: 0;
	font-size: inherit;
	&.red {
		background: $bouncy1;
		color: #fff;
	}
	
	&.yellow {
		background: #ffba00;
		color: $bouncy4;
	}
	
	&.black {
		background: $bouncy4;
		color: #fff;
	}
}
/* Alert Boxes */
div.notification-box{
	position: relative;
	min-height: 90px;
	float: left;
	width: 100%;
	padding-left: 135px;
	margin-bottom: 10px;
	color: #fff;
	.close {
		background: rgba(0,0,0,0.35);
		color: rgba(255,255,255,0.75);
		display: block;
		width: 16px;
		height: 16px;
		text-align: center;
		line-height: 16px;
		font-size: 14px;
		position: absolute;
		right: 12px;
		top: 12px;
		@include border-radius(2px);
		&:hover {
			background: rgba(0,0,0,0.5);
		}
	}
	.icon-holder {	
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 105px;
		min-height: 90px;
		height: 100%;
		text-align: center;
		line-height: 90px;
		font-size: 60px;
	}
	h6 {
		border: 0 !important;
		font-size: 18px;
		color: #fff !important;
		padding: 0 !important;
		margin: 20px 0 10px !important;
	}
	.text {
		
	}
	&.success {
		background: #4cb99b;
		.icon-holder {
			background: #40ab8d;
		}
	}
	&.error {
		background: #f56c5b;
		.icon-holder {
			background: #e15b4a;
		}
	}
	&.information {
		background: #73c7de;
		
		.icon-holder {
			font-size: 56px;
			background: #69bad0;
		}
	}
	&.warning {
		background: #fbb63f;
		
		.icon-holder {
			font-size: 50px;
			background: #fda611;
		}
	}
	&.note {
		background: #cdd1d1;
		
		.icon-holder {
			font-size: 52px;
			background: #bfc4c4;
		}
	}
}
/* Blockquote */
blockquote {
	border: 0;
	paddding-top:0;
	padding-left: 70px;
	position: relative;
	
	&:after {
		display: block;
		font-size: 80px;
		content: "\201C";
		position: absolute;
		top: -15px;
		left: 0px;
		font-weight: 600;
		color: #e0e0e0;
		font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
	}
	p {
		font-size: 18px;
		color: $bouncy3;
		
		cite {
			padding-top: 10px;
		}
	}
	&.pullleft {
		float: left;
		width: 50%;
		margin-right: 30px;
	}
	&.pullright {
		float: right;
		width: 50%;
		margin-left: 30px;
	}
}
/* Home Slider */
.slider {
	max-height: 640px;
	min-height: 300px;
	
	.slides,
	.slides li {
		max-height: 600px;
		min-height: 300px;
	}
	.slides li {
		@include background-size(cover);
	}
	figure {
		width: 100%;
		height: 100%;
		min-height: 250px;
		.flex-caption {
			display: block;
			position: absolute;
			width: 100%;
			top: 50%;
			left: 0;
			background: none;
			padding: 0;
			z-index: 50;
			max-height: 100%;
		}
		.hidden {
			visibility: hidden;
		}
		h2, h3, .slide_btn, .video {
			margin-top: 0;
			@include opacity(0);
			@include translateY(30px);
		}
		h2, h3, .video {
			@include text-shadow(1px 2px 1px rgba(0,0,0,0.25));
		}
		h2 {
			display: block;
			clear: both;
			font-weight: 800;
			font-size: 48px;
			color: #fff;
			text-transform: uppercase;
			@include single-transition(all, 0.5s, ease);
		}
		h3 {
			display: block;
			clear: both;
			font-weight: 200;
			font-size: 26px;
			color: #fff;
			@include single-transition(all, 0.5s, ease, 0.4s);	
		}
		.slide_btn {
			display: inline-block;
			margin-top: 20px;
			padding: 18px 20px;
			text-transform: uppercase;
			color: #fff;
			line-height: 0;
			font-size: 14px;
			font-weight: 800;
			
			@include transition(opacity 0.5s ease 0.8s, transform 0.5s ease 0.8s, background-color 0.4s ease 0s);
		}
		.rightaligned {
			text-align: right;
		}
		.video {.
			height: 100%;
			max-height: 100%;
			@include single-transition(all, 0.5s, ease, 1.2s);
		}
		.video iframe, .video object, .video embed {
			max-width: 100%;
		}
	}
	.centered {
		text-align: center;
	}
	
}
/* Flex Slider - General Styling */
.flex {
	overflow: hidden;
	line-height: 1;
	position: relative;
	background: #2c2c2c;
	
	
	&.flex-start {
		overflow: hidden;
		background: #2c2c2c url('../img/flex-preloader.gif') center center no-repeat;
	}
	.flex-direction-nav {
		z-index: 90;
	
		
		a {
			position: absolute;
			display: block;
			top: 50%;
			width: 64px;
			height: 64px;
			margin-top: -32px;
			background: rgba(0,0,0,0.6);
			font-family: 'FontAwesome';
			color: #9c9c9c;
			text-indent: 0;
			font-size: 36px;
			line-height: 63px;
			text-align: center;
			z-index: 90;
			@include border-radius(3px);
			@include transition(left 0.4s ease-in-out, right 0.4s ease-in-out, background 0.2s ease-in-out);
			
			&:hover {
				background: #fff;
			}
			
			
		}
		.flex-prev {
			left: -100px;
			
			i {
				padding-right: 1px;
			}
		}
		.flex-next {
			right: -100px;
			
			i {
				padding-left: 1px;
			}
		}
		
	}
	&.post-gallery {
	
		.enlarge {
			position: absolute;
			color: rgba(255,255,255,0.9);
			top: 6px;
			right: 12px;
			font-size: 18px;
			border: 0;
			
			@include text-shadow(0 0 2px rgba(0,0,0,0.75));
			
			&:hover {
				color: #fff;
			}
		}
		.flex-direction-nav {
			a {
				width: 46px;
				height: 46px;
				margin-top: -23px;
				line-height: 46px;
				font-size: 24px;
			}
		}
		
		.single-portfolio & {
			.flex-direction-nav {
				a {
					width: 64px;
					height: 64px;
					margin-top: -32px;
					line-height: 63px;
					font-size: 36px;
				}
			}
		}
	}
	&:hover .flex-direction-nav a {
		&.flex-prev {
			left: 30px;
		}
		&.flex-next {
			right: 30px;
		}
	}
	.flex-control-paging {
		position: absolute;
		width: auto;.
		top: -35px;
		right: 20px;
		text-align: right;
		height: 35px;
		
		a {
			background: rgba(255,255,255,0.5);
			@include box-shadow(none);
			height: 8px;
			width: 8px;
			color: transparent;
			
			&.flex-active {
				background: rgba(255,255,255,1);
			}
			
			&:hover {
				background: rgba(255,255,255,0.7);
			}
		}
		
	}
	.slides {
		
		li{
			display: none;
			position: relative;
			
			.hidden {
				min-height: 250px;
				z-index: 5;
			}	
			&.animated {
			
				h2,
				h3,
				.slide_btn,
				.video {
					@include translateY(0px);
					@include opacity(1);
				}
			}
		}
	}
	
	&>li{
		margin: 0;
	}
}
/* Icons */
.boxed-icon {
	display: inline-block;
	padding: 10px 12px;
	min-width: 39px;
	text-align: center;
	line-height: 0;
	color: #717171;
	background: rgba(0,0,0,0.06);
	
	footer & {
		background: rgba(0,0,0,0.1);
	}
	&:hover {
		background: $bouncy1;
		color: #fff;
	}
	&.twitter:hover {
		background: #2caae1;
	}
	&.facebook:hover {
		background: #3b5998;
	}
	&.googleplus:hover {
		background: #dd4a38;
	}
	&.pinterest:hover {
		background: #ca222e;
	}
	&.linkedin:hover {
		background: #006699;
	}
}
/* Icon Lists */
.iconlist {
	list-style: none;
	
	li {
		padding: 2px 0 2px 25px;
		position: relative;
		
		&>i {
			position: absolute;
			top: 5px;
			left: 0;
			color: $bouncy3;
		}
	}
}
/* Iconbox Shortcode */
.iconbox {
	display: block;
	margin-bottom: 0px;
	&>span {
		display: block;
		float: left;
		line-height: 0;
		
		@include single-transition(all, 0.4s, ease-in-out);
	}
	.content {
		width: 100%;
		@include box-sizing(padding-box);
		
		&>strong {
			display: block;
			margin-bottom: 10px;
			font-size: 14px;
			color: $bouncy4;
			font-weight: 600;
		}
		& + div {
			clear: both;
		}
	}
	
	
	&.left {
		
		.content {
			padding-left: 80px;
		}
		
		&>span {
			font-size: 55px;
			margin-right: 20px;
		}
		
		&:hover {
			&>span {
				color: $bouncy1;
			}
		}
	}
	
	&.heading {
		
		.content {
			padding-left: 0px;
			
			& > strong {
				font-size: 16px;
				margin-bottom: 15px;
			}
		}
		
		&>span {
			font-size: 25px;
			margin-right: 25px;
			margin-bottom: 14px;
		}
		
		&:hover {
			&>span {
				color: $bouncy1;
			}
		}
	}
	
	&.hexagon {
		.content {
			padding-top: 140px;
			text-align: center;
			&>strong {
				text-align: center;
				font-size: 16px;
				position: relative;
				padding-bottom: 10px;
				margin-bottom: 20px;
				&:after {
					content: '';
					display: block;
					height: 0;
					width: 40px;
					border-bottom: 1px solid #d8d8d8;
					position: absolute;
					top: 100%;
					left: 50%;
					margin-left: -20px;
				}
			}
		}
		
		&>span {
			position: absolute;
			width: 98px;
			height: 106px;
			line-height: 102px;
			top: 0;
			left: 50%;
			margin-left: -49px;
			font-size: 50px;
			background: #eee;
			text-align: center;
			
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -49px;
				width: 98px;
				height: 106px;
				background: url('../img/overlay-hexagon.png');
			}
		}
		
		&:hover {
			&>span {
				background: $bouncy1;
				color: #fff;
			}
		}
	}
}
/* Testimonials Shortcode */
.testimonials.flex {
	background: none;
	
	blockquote {
		padding: 0;
		text-align: center;
		&:after {
			content: '';
		}
	}
}
/* Team Member Shortcode */
.team_member {
	.fresco {
		margin-bottom: 20px;
	}
	h3 {
		font-weight: 400;
		color: #5b5b5b;
		font-size: 20px !important;
	}
	h4 {
		font-size: 13px !important;
		color: $bouncy3 !important;
	}
	p {
		margin-top: 20px;
		color: $bouncy3 !important;
	}
}
/* Carousel Shortcode */
.carousel {
	margin-bottom: 40px !important;
	height: auto;
	
	.owl-wrapper {
		&:hover {
			cursor:url('../img/grabbing.png') 8 8, move;
		}
	}
	.owl-wrapper-outer {
		overflow: hidden;
	}
	.owl-item {
		display: block;
		float: left;
	}
	.post {
		float: left;
		min-height: 1px;
		padding: 0 15px;
		position: relative;
		border-bottom: 0;
		margin-bottom: 0;
		
		.post-title {
			float: left;
			width: 100%;
			h3 {
				display: block;
				float: left;
				white-space: normal;
				text-align: left;
				max-width: 100%;
			}
		}
	}
	
	.excerpts {
		display: block;
		float: left;
		width: 100%;
		min-height: 32px;
		white-space: normal;
		font-size: 12px;
		line-height: 16px;
		text-align: left;
	}
	&.col-4 {
		.post {
			max-width: 25%;
		}
	}
	&.col-3 {
		.post {
			max-width: 33.3333%;
		}
	}
	&.col-2 {
		.post {
			max-width: 50%;
		}
	}
}
.smallarrow,
.portfolio-header a:not(.gotoportfolio) {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: rgba(0,0,0,0.2);
	color: #fff;
	text-align: center;
	font-size: 20px;
	vertical-align: middle;
	margin-left: 3px;
	@include border-radius(2px);
	@include single-transition(all, 0.4s, ease-in-out);
	&:hover {
		color:#fff;
		background: rgba(0,0,0,0.4);
	}
	
	.icon-angle-left {
		padding-right: 2px;
	}
	.icon-angle-right {
		padding-left: 2px;
	}
	
}
.portfolio-header a:not(.gotoportfolio) {
	width: 34px;
	height: 34px;
	line-height: 34px;
}
.gotoportfolio {
	display: inline-block;
	background: #2c2c2c;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-weight: 800;
	font-size: 11px;
	padding: 0 10px;
	margin-left: 3px;
	border: 0;
	vertical-align: middle;
	text-transform: uppercase;
	@include border-radius(2px);
	@include single-transition(all, 0.4s, ease-in-out);
	
	&:hover {
		color: #fff;
		background: $bouncy1;
	}
	i {
		margin-right: 8px;
		
		.portfolio-header & {
			margin: 0;
		}
	}
	
	.single-portfolio & {
		width: 34px;
		height: 34px;
		line-height: 34px;
		font-size: 14px;
		
		&:hover {
			background: #fff;
			
			i {
				color: $bouncy1;
			}
		}
	}
}
.carousel-controls {
	text-align: center;
	margin-bottom: 40px !important;
}

/* Portfolio */
#portfolioselect {
	position: relative;
	float: left;
	margin-bottom: 30px;
	width: 100%;
	
	&.open {
		#sortportfolio {
			background: $bouncy1;	
		}
	}
	
	#sortportfolio {
		display: block;
		float: left;
		width: 100%;
		background: $bouncy4;	
		font-size: 11px;
		font-weight: 500;
		text-transform: uppercase;
		color: #fff;
		padding: 15px 20px;
		@include box-sizing(border-box);
		
		@include single-transition(all, 0.4s, ease-in-out);
		
		&:after {
			font-family: 'FontAwesome';
			content: "\f0d7";
			position: absolute;
			color: #fff;
			top: 15px;
			right: 20px;
			font-size: 13px;
		}
	}
	
	ul {
		list-style: none;
		margin: 0;
		display: none;
		float: left;
		width: 100%;
		li {
			a {
				display: block;
				width: 100%;
				float: left;
				font-size: 11px;
				font-weight: 800;
				text-transform: uppercase;
				background: #2c2c2c;	
				color: $bouncy3;
				padding: 13px 20px;
				border-bottom: 1px solid #303030;
				
				&:hover,
				&.active {
					color: #fff;
				}
			}
		}
	}
}
.gallery {
	.thumbnail {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
		line-height:0;
		margin-bottom: 30px;
		
		img {
			width: 100%;
			@include border-radius(5px);
		}
		figcaption {
			background: #555;
			position: absolute;
			width: 100%;
			height: 100%;
			text-align: center;
			padding: 10px;
			@include border-radius(5px);
			
			h2 {
				color: #fff;
				font-size: 17px;
				line-height: 26px;
				margin-top: 30px;
			}
			span {
				width: 100%;
				font-size: 12px;
				color: #999;
			}
		}
	}
	#portfolioselect {
		margin-bottom: 20px;
	}
}
.filters {
	float: left;
	width: 100%;
	padding-bottom: 15px;
	list-style: none;
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 30px;
	li {
		float: left;
		margin-right: 5px;
		font-size: 11px;
		text-transform: uppercase;
		
		span {
			line-height: 27px;
			margin-right: 10px;
		}
		a {
			display: block;
			float: left;
			padding: 5px 10px;
			color: $bouncy3;
			font-size: 11px;
			text-transform: uppercase;
			font-weight: 800;
			@include border-radius(3px);
			
			@include single-transition(all, 0.2s, ease-in-out);
			
			&.active {
				background: $bouncy1;
				color: #fff;
			}
			&:not(.active):hover {
				color: $bouncy4;
				background: #f0f0f0;
			}
		}

	}
}

/* Isotope Specific (AJAX Portfolio) */
.isotope-item {
	z-index: 2;
	height: auto;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 1s;
     -moz-transition-duration: 1s;
      -ms-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.isotope {
  -webkit-transition-property: height;
     -moz-transition-property: height;
      -ms-transition-property: height;
       -o-transition-property: height;
          transition-property: height;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
/* Portfolio Specific Fixes */
.portfolio-container {
	padding-bottom: 40px;
}
.thbportfolio {
	
	img {
		width: 100%;
		max-width: 100%;
	}
	.post-content {
		p {
			margin: 0;
			font-size: 13px;
		}
	}
	.item.three {
		width: 24.9%;
	}
	[class*="column"]+[class*="column"]:last-child {
		float: left;
	}
}
#portfolioselect {
	margin-bottom: 30px;
}
.portfolio-header {
	padding: 60px 0;
	background: #c5443b;
	text-align: center;
	color: #fff;
	overflow: hidden;
	h2 {
		font-size: 40px;
		color: #fff;
		margin-top: 0;
	}
	p {
		margin-bottom: 30px;
	}
	a { 
		margin-top: 10px;
	}
}
.relatedposts {
	padding-bottom: 50px;
	[class*="column"] + [class*="column"]:last-child { float: left; }
	
	h6 {
		display: inline-block;
		text-align: center;
		padding-bottom: 10px;
		margin-bottom: 20px;
		font-weight: 800;
		color: $bouncy4;
		text-transform: uppercase;
		border-bottom: 2px solid #ebebeb;
	}
}
.portfolio-attributes {
	margin-top: 40px !important;
	
	.columns {
		margin-bottom: 20px;
	}
	strong {
		display: block;
		width: 100%;
		border-bottom: 1px dotted #c8c8c8;
		padding-bottom: 15px;
		margin-bottom:15px
	}
}
/* Portfolio & Blog Shortcodes */
.posts {
	.post {
		float: left;
		min-height: 1px;
		padding: 0 15px;
		position: relative;
		border-bottom: 0;
	}
	h3 {
		display: block;
		float: left;
	}
	.excerpts {
		display: block;
		float: left;
		width: 100%;
		white-space: normal;
		font-size: 12px;
		line-height: 16px;
	}
	&.thumb {
		ul {
			list-style: none;
			li {
				width: 100%;
				padding-bottom: 10px;
				
				&:last-child {
					padding-bottom: 0;
				}
			}
			figure {
				float: left;
				margin-right: 10px;
			}
			
			a {
				font-weight: bold;
			}
			span {
				font-size: 12px;
			}
		}
	}
}

/* Sidebar & Widgets */
.widget {
	margin-bottom: 40px;
	font-size: 12px;
	
	.lt-ie9 & {
		img {
			max-width: none;
		}
	}
	p {
		font-style: normal;
		font-size: 12px;
		line-height: 18px;
	}	
	h6 {
		font-size: 14px;
		font-weight:800;
		margin-bottom: 20px;
		margin-top: 0;
		text-transform: uppercase;
		color: $bouncy4;
	}
	
	ul {
		list-style: none;
		li {
		
			&.current_page_item {
				a {
					font-weight: 600;
				}
			}
			font-size: 13px;
			padding: 10px 0;
			border-bottom: 1px solid #ebebeb;
			
			&:first-child {
				padding-top: 0;
			}
		}
	}
	
	&.widget_tag_cloud {
		li {
			display: inline-block;
			margin-right: 4px;
			border: 0;
			padding-top: 0;
			padding-bottom: 6px;
			&>a {
				display: block;
				padding: 0 10px;
				line-height: 28px;
				font-size: 11px;
				font-weight: 800;
				text-transform: uppercase;
				background: rgba(0, 0, 0, 0.1);
				color: #fff;
				
				@include border-radius(3px);
				@include single-transition(background, 0.2s, ease-in-out);
				&:hover {
					background: $bouncy1;
					color: #fff !important;
				}
				
				footer & {
					color: #717171;
				}
			}
		}
	}
	
	&.widget_pages {	
		li {
			
			&.current_page_item {
				font-weight: 600;
			}
		}	
	}
	&.widget_categories {	
		li {
			
			&.current-cat {
				font-weight: 600;
			}
		}	
	}
	&.widget_flickr {
	
		.flickr_badge_image {
			width: 49px;
			height: 49px;
			display: inline-block;
			margin: 0 14px 14px 0;
			overflow: hidden;
			padding: 3px;
			border: 1px solid #cbcbcb;
			line-height: 0;
			
			&:hover {
				background: $bouncy1;
				border-color: $bouncy1;
			}
			footer & {
				border: 1px solid #393939;
			}
			
			img {
				height: 41px;
				width: 41px;
			}
		}
		.flickrcontainer {
			clear: both;
			width: 100%;
		}
	}
	
	&.widget_dribbble {
		a {
			width: 49px;
			height: 49px;
			display: inline-block;
			margin: 0 16px 16px 0;
			overflow: hidden;
			padding: 3px;
			border: 1px solid #cbcbcb;
			line-height: 0;
			
			&:hover {
				background: $bouncy1;
				border-color: $bouncy1;
			}
			footer & {
				border: 1px solid #393939;
			}
			
			img {
				height: 100%;
			}
		}
	}
	
	/* &.widget_recent_comments {
		li {
			display: block;
			padding: 15px 20px !important;
			border: 0;
			margin-bottom: 10px;
			background: rgba(0,0,0,0.1);
			&:last-child {
				margin-bottom: 0;
			}
		}
	} */
	&.widget_recent_entries,
	&.widget_thbpopular {
		a {
			display: block;
			width: 100%;
			font-size: 13px;
			line-height: 1;
			margin-top: 2px;
		}
		span {
			font-size: 11px;
		}
	}
}
/* Comments */
#comments {
	h3 {
		margin-top: 0;
		margin-bottom: 30px;
		font-size: 22px;
	}
	#respond {
		padding-top: 30px;
		clear: both;
		margin-bottom: 50px;
	}
	ol.commentlist {
		list-style: none;
		width: 100%;
		float: left;
		margin: 0 0 50px;
		
		+ #respond {
			border-top: 1px solid #dfdfdf;
		}
		li {
			width: 100%;
			float: left;
		}
		&>li {
			
			&:first-child {
				.comment-inner {
					margin-top:0;
				}
			}
		}
		
		.vcard {
			float: left;
			width: 60px;
			margin-right: 20px;
			.avatar {
				float: left;
				width: 60px;
			}
		}
		.comment-inner {
			width: 100%;
			float: left;
			padding: 20px 20px 3px;
			position: relative;
			margin-top: 20px;
			border: 1px solid #ebebeb;
			
			@include box-shadow(0 2px 2px rgba(0,0,0,0.03));
		}
		.comment-reply-link {
			position: absolute;
			top: 20px;
			right: 20px;
			padding: 3px 7px;
			font-size: 10px;
			
			i {
				margin-right: 5px;
			}
		}
		.comment-text{
			width: auto;
			margin-left: 80px;
			margin-top: 15px;
			position: relative;
			
			.authorname {
				font-size: 11px;
				width: 100%;
				float: left;
				margin-bottom: 10px;
			}
			.awaiting_moderation {
				display: block;
				position: absolute;
				bottom: 0;
				right: 0;
				background: $color1;
				color: #fff;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 8px;
				padding: 2px 4px;
				font-style: normal;
			}
			
		}
		.children{
			display: block;
			float: left;
			width: 100%;
			margin: 20px 0 0;
			padding-left: 60px;
			list-style: none;
			border-left: 1px solid #ebebeb;
			position: relative;
			
			&:after {
				content: '';
				display:block;
				width: 25px;
				height: 0;
				border-bottom: 1px solid #ebebeb;
				position: absolute;
				top: 20px;
				left: 0;
			}
			&>li {
				
				&:first-child {
					&>.comment-inner {
						margin-top:0;
					}
				}
			}
		}
	}
}

/* Footer */
footer {
	background: #2c2c2c;
	padding: 0;
	color: $bouncy3;
	width: 100%;
	clear: both;
	font-size: 12px;
	.boxed & {
		max-width: 1230px;
		margin: 0 auto;
		
		@include box-shadow(2px 0 8px rgba(0,0,0,0.15));
	}
	&>.row {
		position: relative;
		padding: 35px 0 0 0;
	}
	
	.widget {
		border-top: none;
		
		p {
			font-style: normal;
		}	
		h6 {
			padding-bottom: 15px;
			color: #fff;
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 25px;
				height: 0px;
				left: 0;
				bottom: 0;
				border-bottom: 1px solid #fff;
			}
		}
		ul {
			list-style: none;
			li {
				font-size: 12px;
				margin-bottom: 5px;
				border-bottom: 1px solid #393939;
			}
		}
	}
	
	a {
		color: #ccc;
		
		&:hover {
			color: $bouncy1;
		}
	}
	
	.subfooter {
		background: #2c2c2c;
		padding: 0 0 50px;
		.row {
			border-top: 1px solid #3a3a3a;
			padding-top: 20px;
		}
		p {
			font-size: 12px;
			margin: 0;
			line-height: 22px;
		}
		a {
			color: $bouncy3;
			
			&:hover {
				color: $bouncy1;
			}
		}
		ul {
			float: right;
			list-style: none;
			margin: 0;
			
			li {
				float: left;
				position: relative;
				padding-left: 13px;
				margin-right: 13px;
				
				&:after {
					content: '';
					display: block;
					position: absolute;
					width: 2px;
					height: 11px;
					border-left: 1px solid #414141;
					
					top: 4px;
					left: 0;
				}
				
				&:first-child {
					&:after {
						border:0;
					}
				}
			}
		}
	}
}
.twitterbar {
	background: #f4f4f4;
	padding: 20px 0;
	height: 86px;
	color: $bouncy3;
	
	.btn {
		line-height: 30px;
	}	

	i.icon-twitter {
		color: #2caae1;
		font-size: 44px;
		line-height: 1;
	}

	ul {
		list-style:none;
		margin: 0;
		a {
			color: #2caae1;
			font-weight: bold;
		}
		
		li {
			display: block;
			height: 50px;
			line-height: 22px;
			font-size: 13px;
			margin-right: 100px;
			
			.created {
				background: none;
				display: inline;
				margin-left: 10px;
				font-size: 12px;
				font-style: italic;
				color: #ababab;
				text-align: left;
				font-weight: normal;
				padding-left: 0;
				padding-top: 3px;
			}
		}
		i {
			display:none;
		}
	}
	.user {
		text-decoration: none;
	}
	.tweets {
		position: relative;
		height: 46px;
		padding: 0;
		.controls {
			position: absolute;
			top: 50%;
			right: 15px;
			margin-top: -15px;
		}
	}
	
}
/* 404 - Not Found Page */
.notfound {
	text-align: center;
	padding: 80px 20px;
	h2 {
		font-size: 32px;
		font-weight: 700;
		color: $bouncy3;
		margin-top: 50px;
	}
	p {
		color: #5d5d5d;
		font-size: 18px;
	}
	form {
		width: 50%;
		margin: 0 auto;
	}
	input {
		margin-top: 40px;
	}
}

#scrolltotop {
	display: none;
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,0.2);
	position: fixed;
	right: 50px;
	top: 70%;
	text-align: center;
	
	@include border-radius(3px);
	@include single-transition(all, 0.4s, ease-in-out);
	
	i {
		font-size: 24px;
		line-height: 38px;
		color: #fff;
	}
	
	&:hover {
		border: 1px solid #ebebeb;
		background: #fff;
		
		i {
			color: $bouncy1;
		}
	}
}
code, pre {
	font: 13px Consolas, "Andale Mono", Courier, "Courier New", monospace; 
	background: url(../img/pre_bg.gif) repeat;
	padding: 19px 20px 15px 20px; 
	line-height: 19px;
	overflow: auto;
	overflow-Y: hidden; 
	color: #444;
	@include border-radius(5px);
	border: 1px solid #f2b6b6;
}

/* WP-Specific */
.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.alignright,
.alignleft,
.aligncenter,
.bypostauthor {
	color: inherit;
}

.alignright {
    float: right;
    margin: 0 0 14px 20px;
}

.alignleft {
    float: left;
    margin: 0 20px 14px 0;
}
.alignright img,
.alignleft img,
.aligncenter img {
	width: 100%;
	max-width: 100%;
}
.aligncenter {
    clear: both;
    margin: 0 auto;
}
.wp-caption-text {
	margin: 0;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 12px;
	font-style: italic;
}
.gallery {
	clear: both;
	.gallery-item {
		float: left;
		margin: 0;
		width: 120px;
		margin: 0 1px 1px;
		
		@include single-transition(opacity, 0.2s, ease-in-out);
		
		&:hover {
			@include opacity(0.8);
		}
		a {
			line-height: 0;
			display: block;
			float: left;
		}
		.gallery-caption {
			display: none;
		}
	}
}
/* Clients Shortcode */
.clientlist {
	.columns {
		div {
			border: 1px solid #f3f3f3;
			width: 100%;
			height: 100%;
			text-align: center;
			
			@include single-transition(all, 0.4s, ease-in-out);
			
			&:hover {
				img {
					@include filter(grayscale(0));
				}
				border-color: $bouncy1;	
			}
			
			img {
				height: auto;
				padding: 20px;
			  text-align: center;
			  vertical-align: middle;
			  
			  @include filter(grayscale(1));
			  @include translateZ(0);
			  @include single-transition(all, 0.4s, ease-in-out);
			}
		}
		
		
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}
/* Dial Shortcode */
.knob {
	display: inline-block;
	position: relative;
	margin: 0 0 30px 0;
	text-align: center;
	
	strong {
		font-weight: 400;
		font-size: 14px;
		color: $bouncy4;
		
	}
}
.dial {
	display: none;
	color: $bouncy4 !important;
	font-size: 50px !important;
	font-weight: 800 !important;
	font-family: inherit !important;
	width: 100px !important;
	height: 60px !important;
	top: 23% !important;
	left: 21% !important;
	margin: 0 !important;
	
	&.visible {
		display: block;
	}
}
/* Line Divider */
.divider {
	border-top: 1px solid #ebebeb;
	margin: 0 auto 20px;
	width: 80%;
}
/* Changes to Foundation /* Tabs & Accordion */
dl.tabs {
	margin-bottom: 0;
	padding-top: 3px;
	dd.active {
		border-top: 0;
		border-left: solid 1px #e2e2e2;
		border-right: solid 1px #e2e2e2;
		a {
			border-top: 3px solid $bouncy1;
			border-left: 0;
			border-right: 0;
			color: #5b5b5b;
			line-height: 38px;
			border-bottom: 0;
			font-weight: 400;
			
		}
		
		& + dd {
			a {
				border-left: 0;
			}
		}
	}
	dd {
		margin-top: -3px;
		a {
			padding: 0 15px;
			height: 40px;
			line-height: 40px;
			font-size: 13px;
			color: $bouncy3;
			background: #fafafa;
			border-top: solid 1px #e2e2e2;
			border-left: solid 1px #e2e2e2;
			border-bottom: solid 1px #e2e2e2;
			
			i {
				margin-right: 8px;
			}
		}
		&:last-child {
			border-right: solid 1px #e2e2e2;
		}
	}
}
ul.tabs-content {
	padding: 15px;
	background: #fff;
	border-bottom: solid 1px #e2e2e2;
	border-right: solid 1px #e2e2e2;
	border-left: solid 1px #e2e2e2;
}
ul.accordion {
	clear: both;
	border-color: #e2e2e2;
	&>li>div.title {
		background: #fafafa;
		border-color: #e2e2e2;
		position: relative;
		padding: 8px 15px;
		
		&:after {
			font-family: 'FontAwesome';
			content: "\f116";
			position: absolute;
			color: #5b5b5b;
			top: 3px;
			right: 30px;
			font-size: 20px;
			border: 0;
		}
		
		h5 {
			font-weight: 400;
			color: $bouncy3;
			font-size: 13px;
		}
	}

	&>li.active {
		border-top: 1px solid #e2e2e2;
		
		div.title {
			padding: 8px 15px;
			
			&:after {
				content: "\f117";
				border: 0;
				top: 3px;
				right: 30px;
			}
		}
		h5 {
			color: #5b5b5b !important;
		}
		.content {
			border-top: 1px solid #e2e2e2;
			border-color: #e2e2e2;
		}
	}
}

/* Changes to Foundation /* Table */
table {
	border-spacing: 0;
	border: 1px solid #ebebeb;
	@include border-radius(0);
	@include box-shadow(0 2px 2px rgba(0,0,0,0.03));
	
	thead, tfoot {
		background: none;
	}
	thead tr th, 
	tfoot tr td {
		text-transform: uppercase;
		font-size: 16px;
		padding: 20px 10px;
	}
	thead tr th {
		border-bottom: 1px solid #e2e2e2;
	}
}

/* Style Switcher */
#style-switcher {
	display: block;
	width: 205px;
	position:fixed;
	top: 200px;
	left: -165px;
	z-index: 9999;
	@include single-transition(left, 0.5s, ease-in-out);
	
	&.active {
		left: 0;
	}
	.style-toggle {
		float: right;
		width: 40px;
		height: 40px;
		line-height: 40px;
		background: $bouncy1;
		color: #fff;
		text-align: center;
		font-size: 24px;
		cursor: pointer;
		@include single-transition(all, 0.3s, ease-in-out);
		
		&.active {
			background: $bouncy4;	
		}
	}
	h2 {
		display: block;
		float: left;
		width: 165px;
		padding: 0 15px;
		height: 40px;
		line-height: 40px;
		margin: 0;
		font-size: 12px;
		font-weight: 800;
		color: #fff;
		background: $bouncy1;
	}
	.style-content {
		float: left;
		background: #fff;
		padding: 0 15px;
		width: 165px;
		
		@include box-shadow(0 0 3px rgba(0,0,0,0.25));
		
		h3 {
			color: #474646;
			font-size: 13px;
			font-weight: 600;
			margin: 15px 0 13px;
			float: left;
		}
		.switch {
			margin: 0;
			padding: 0;
			list-style: none;
			float: left;
			width: 100%;
			li {
				a {
					display: block;
					float: left;
					font-size: 12px;
					color: #7c7c7c;
					border: 1px solid #e1e1e1;
					text-align: center;
					height: 30px;
					line-height: 30px;
					width: 65px;
					&.active {
						background: #474646;
						border-color: #474646;
						color: #fff;
					}
				}
				
				&:last-child {
					a {
						margin-left:5px;
					}
				}
			}
		}
	}
}

/* Responsive Changes */
@media only screen and (max-width: 767px) {
	
	.thbportfolio {
		.column, .columns {
			width: 100% !important;
		}
	}
	.blog.masonry {
		.column, .columns {
			width: 100% !important;
		}
	}
	.row {
		width: 440px;
		margin: 0 auto;
	}
	#scrolltotop,
	.flex-direction-nav {
		display: none !important;
	}
	.alignright,
	.alignleft,
	.aligncenter {
		width: 100% !important;
		margin: 0 0 20px;
	}
	.relatedposts .post {
		margin-bottom: 20px;
	}
	#breadcrumb {
		padding: 10px 0;
	}
	.twitterbar {
		height: 100px;
		
		li {
			margin-right: 0;
		}
	}
	blockquote.pullleft,
	blockquote.pullright {
		width: 100%;
	}
	.slider {
		.slides {
			
			li{
				background-position: center 60% !important;
				background-repeat: no-repeat !important;
				@include background-size(cover);
			}
		}
		figure {
			h2 {
				font-size: 24px !important;
			}
			h3 {
				font-size: 18px !important;
			}
			.slide_btn {
				font-size: 14px !important;
			}
		}
	}
	.portfolio-header {
		padding: 20px 0 !important;
		
		h2 {
			font-size: 22px !important;
		}
		p {
			margin-bottom: 20px !important;
		}
	}
	.relatedposts {
		display: none;
	}
	#comments ol.commentlist .comment-reply-link {
		top: 0;
		right: 0;
	}
	#comments ol.commentlist .children {
		padding-left: 25px;
	}
	.post .post-gallery.quote blockquote,
	.post .post-gallery.link a {
		font-size: 18px;
		line-height: 24px;
	}
	#contact-map {
		height: 200px !important;
	}
	.twitterbar .tweets {
		padding: 0 15px;
	}
	.twitterbar .tweets .controls {
		display: none;
	}
}
@media only screen and (max-width: 940px) {

	[role="main"] {
		padding: 0;
	}
	#header .logo > a.hide-logo {
		display: none;
	}
	#header .logo > a.show-logo {
		display: block;
		
		.notfixed & {
			height: 40px;
			margin: 5px 0 !important;
		}
	}
	#header {
		.notfixed & {
			position: relative !important;
			height: auto !important;
		}
		&.fixed {
			position: relative !important;
			height: auto !important;
			.admin-bar & {
				top: 0px !important;
			}
			.logo a {
				height: 40px !important;
				margin: 5px 0 !important;
			}
			& + [role="main"] {
				padding-top: 20px;
				
				.admin-bar & {
					padding-top: 20px !important;
				}
			}
		}
		.sf-menu {
			margin: 0 !important;
		}
		.desktop-menu {
			display: none;
		}
		.mobile-menu-toggle {
			display: block;
		}
	}
	#scrolltotop {
		right: 20px;
	}
	.slider {
		figure {
			h2 {
				font-size: 32px;
			}
			h3 {
				font-size: 20px;
			}
		}
	}
	.portfolio-header {
		padding: 40px 0;
		
		h2 {
			font-size: 30px;
			color: #fff;
		}
		p {
			margin-bottom: 20px;
		}
	}
	.iconbox.left > span {
		font-size: 35px;
	}
	.iconbox.left .content {
		padding-left: 60px;
	}
	#contact-map {
		height: 350px;
	}
	#style-switcher {
		display: none;
	}
}